# **An Exploratory Analysis of Payroll and Overtime Trends in Louisville Metro Government**

# **Step 2: Data Pre-processing**
**Goal:** Ensure the dataset is clean, consistent, and analysis-ready by identifying and addressing missing values, inconsistencies, and structural issues that could affect the accuracy of salary and overtime analysis

In [1]:
import pandas as pd # Import pandas library for data manipulation and analysis
import numpy as np  # Import numpy library for numerical computations and handling NaN values

pd.set_option('display.max_columns',None) # Set pandas option to display all columns in the DataFrame output
pd.set_option('display.float_format','{:.2f}'.format) # Set pandas option to format floating-point numbers to two decimal places

In [2]:
print('Python libraries imported successfully')

Python libraries imported successfully

In [3]:
df = pd.read_csv('/content/Louisville_Metro_KY_-_Employee_Salary_Data.csv') # Load the employee salary dataset into a Pandas DataFrame
print('Employee salary dataset loaded successfully')

Employee salary dataset loaded successfully

In [4]:
df.shape # Display the number of rows and columns in the dataset

(40829, 11)

# **2.1 Missing Values Analysis**
The df.isnull().sum() function is used to identify the number of missing values in each column, helping assess data completeness and determine whether imputation, correction, or removal is required before further analysis.

In [5]:
print("Missing values per column:")
df.isnull().sum() #  Check for missing values in each column

Missing values per column:

CalYear                    0
Employee_Name              2
Department                 1
jobTitle                   1
Annual_Rate                0
Regular_Rate               0
Overtime_Rate              0
Incentive_Allowance        0
Other                  40829
YTD_Total                  0
ObjectId                   0
dtype: int64

# **2.2 Eliminating Null Entries in Employee Details**
In this step, rows containing missing values in important categorical columns such as Employee_Name, Department, and Job Title are removed. These fields are essential for analyzing employee salary patterns across different departments and job roles.

In [6]:
# Drop rows where Employee_Name, Department, or jobTitle are missing
df= df.dropna(subset=['Employee_Name','Department', 'jobTitle'])

# **2.3 Post-Cleaning Dataset Dimensions**
After removing rows with missing values in critical identifier columns, the dataset shape is rechecked to confirm the updated number of records and ensure no remaining missing values exist in Employee Name, Department, and Job Title fields.

In [7]:
print("Shape after dropping rows with missing Employee_Name, Department, or jobTitle:", df.shape)
print(df[['Employee_Name','Department','jobTitle']].isnull().sum())

Shape after dropping rows with missing Employee_Name, Department, or jobTitle: (40826, 11)
Employee_Name    0
Department       0
jobTitle         0
dtype: int64

# **2.4 Removing Irrelevant or Low-Impact Columns**
The ‘Other’ column is removed from the dataset as it contains miscellaneous payments with limited analytical relevance, helping simplify the dataset and improve clarity for salary and overtime-focused analysis.

In [8]:
df.drop(columns=['Other'], inplace=True) # Drop the column named 'Other' from the DataFrame

# **2.5 Post-Cleaning Missing Value Summary**
A final missing value check is performed using df.isnull().sum() to ensure that no significant null values remain in the dataset after preprocessing, confirming the data is clean and ready for further analysis.

In [9]:
print("Missing values per column:")
df.isnull().sum() #  Check for missing values in each column

Missing values per column:

CalYear                0
Employee_Name          0
Department             0
jobTitle               0
Annual_Rate            0
Regular_Rate           0
Overtime_Rate          0
Incentive_Allowance    0
YTD_Total              0
ObjectId               0
dtype: int64

# **2.6 Column Renaming for Consistency**
The column ‘jobTitle’ is renamed to ‘Job_Title’ to maintain consistent naming conventions across the dataset, improving readability and ensuring smoother analysis and visualization.

In [10]:
df = df.rename(columns={'jobTitle': 'Job_Title'}) # Rename the column 'jobTitle' to 'Job_Title'

# **2.7 Column Standardization and Employee Name Formatting**
The Job Title column is renamed for consistency, and the Employee Name field is cleaned by removing commas, trimming extra spaces, and standardizing spacing. Additionally, employee names are reformatted to a consistent order to improve readability and ensure uniformity for grouping and analysis purposes.

In [13]:
df['Employee_Name'] = (
    df['Employee_Name']
    .str.replace(',', '', regex=False) # Remove commas from names
    .str.strip()                        # Remove spaces
    .str.replace(r'\s+', ' ', regex=True)) # Replace multiple spaces with a single space )

In [15]:
def reorder_name(name):
    if not isinstance(name, str) or name == '':
        return name
    parts = name.split()
    if len(parts) > 1:
        return ' '.join(parts[1:] + parts[:1])
    return name

In [16]:
df['Employee_Name'] = df['Employee_Name'].apply(reorder_name)# Apply the reorder_name function to the Employee_Name column

In [17]:
print("Rename the column 'jobTitle' to 'Job_Title'")
print("Employee_Name column after reordering:")
df

Rename the column 'jobTitle' to 'Job_Title'
Employee_Name column after reordering:

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId
0,2026,William E Summers,OMB Finance,Board Member,0.00,0.00,0.00,0.00,0.00,1
1,2026,David Martin,Louisville Free Public Library,Library Page LU,30763.20,1183.20,0.00,0.00,1183.20,2
2,2026,Darrell Sheridan Ammon,Louisville Metro Police Department,Criminal Justice Specialist,70844.80,2724.80,0.00,0.00,2724.80,3
3,2026,David B. Waggoner,Louisville Fire,Fire Prevention Inspector I,75944.96,2555.84,0.00,239.25,14478.93,4
4,2026,Larry J Lenahan,OMB Finance,Budget Analyst I,46248.80,1200.71,0.00,0.00,1200.71,5
...,...,...,...,...,...,...,...,...,...,...
40824,2021,Darrin Johnson,Technology Services,PC Support Analyst II,44803.20,1723.20,0.00,0.00,1723.20,40825
40825,2021,Tristan Biagi,Technology Services,PC Support Analyst II,44803.20,861.60,0.00,0.00,861.60,40826
40826,2021,Ethan Lett,Develop Louisville,Planning Technician U315,34049.60,654.80,0.00,0.00,654.80,40827
40827,2021,LaFon Brown,Solid Waste Management,Sanitation Tipper-CDL,41891.20,2094.56,594.13,0.00,2688.69,40828
40828,2021,Timothy King,Public Works,Equipment Operator-TM,39041.60,750.80,0.00,0.00,750.80,40829

# **2.8 Duplicate Record Identification and Handling**
To ensure the integrity of the dataset, duplicate records were identified using a combination of key attributes: CalYear, Employee_Name, Job_Title, and Department. This approach ensures that each employee’s role within a department for a given year is uniquely represented.

In [18]:
duplicates = df[df.duplicated(
    ['CalYear', 'Employee_Name', 'Job_Title', 'Department'],
    keep=False
)]                            # Find duplicate rows based on CalYear, Employee_Name, Job_Title, and Department

In [19]:
print("Duplicates rows found:")
duplicates

Duplicates rows found:

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId
7837,2025,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,65171.47,40534.46,0.00,0.00,50450.66,7838
9584,2025,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,117561.60,114624.00,0.00,0.00,114624.00,9585
17210,2023,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,59588.10,58312.40,0.00,0.00,58312.40,17211
19625,2022,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,56745.00,56092.96,0.00,0.00,56092.96,19626
21558,2023,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,100505.60,97324.80,0.00,0.00,97324.80,21559
23342,2023,Kristen Morris,Louisville Zoo,Zoo Service Clerk,27573.00,0.00,0.00,0.00,0.00,23343
23520,2023,Kristen Morris,Louisville Zoo,Zoo Service Clerk,33592.00,0.00,0.00,0.00,0.00,23521
24644,2022,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,94598.40,87821.76,0.00,0.00,87821.76,24645
28981,2024,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,61378.20,60449.40,0.00,0.00,60449.40,28982
30610,2024,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,111945.60,106005.60,0.00,0.00,106005.60,30611
34235,2021,Mark Brown,Louisville Metro Police,Police Officer,61880.00,3055.40,410.01,0.00,3465.41,34236
35360,2021,Robert Jones,Louisville Metro Police,Police Officer,61880.00,64970.85,3282.62,4190.16,72443.63,35361
35603,2021,Mark Brown,Louisville Metro Police,Police Officer,65312.00,68531.20,6556.71,6632.40,81980.31,35604
36725,2021,Charles Ennis,Louisville Metro Police,Police Officer,59862.40,63133.20,5809.57,6432.24,76220.01,36726
36961,2021,Daniel Albers,County Attorney,Assistant County Attorney,51515.10,50743.04,0.00,0.00,50743.04,36962
37137,2021,Charles Ennis,Louisville Metro Police,Police Officer,51022.40,47755.68,6226.14,5800.80,60952.62,37138
38610,2021,Robert Jones,Louisville Metro Police,Police Officer,58843.20,22425.36,546.51,1336.32,29647.93,38611
38668,2021,Robert Ross,Louisville Metro Police,Police Officer,58864.00,61208.91,17508.68,5012.40,84834.99,38669
38693,2021,Robert Ross,Louisville Metro Police,Police Officer,57803.20,60784.47,2374.34,4131.12,67614.93,38694
39270,2021,Daniel Albers,County Attorney,Assistant County Attorney,79060.80,77879.76,0.00,0.00,77879.76,39271

In [20]:
print("Duplicate records summary:")
duplicate_records = df.groupby(
    ["CalYear", "Employee_Name", "Department", "Job_Title"]
).size().reset_index(name="count")

duplicate_records[duplicate_records["count"] > 1] # Count how many times each combination occurs

Duplicate records summary:

,CalYear,Employee_Name,Department,Job_Title,count
1065,2021,Charles Ennis,Louisville Metro Police,Police Officer,2
1524,2021,Daniel Albers,County Attorney,Assistant County Attorney,2
4273,2021,Mark Brown,Louisville Metro Police,Police Officer,2
5357,2021,Robert Jones,Louisville Metro Police,Police Officer,2
5380,2021,Robert Ross,Louisville Metro Police,Police Officer,2
8266,2022,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,2
15041,2023,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,2
17434,2023,Kristen Morris,Louisville Zoo,Zoo Service Clerk,2
22135,2024,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,2
29437,2025,Daniel Thomas Albers,Jefferson County Attorney,Assistant County Attorney,2

# **2.9 Duplicate Record Removal**
After identifying duplicate entries, duplicate records were removed to ensure that each employee’s role within a department is represented only once per calendar year. Duplicates were defined using the composite key CalYear, Employee_Name, Job_Title, and Department, which uniquely identifies an employee’s position in a given year.

The first occurrence of each duplicate record was retained to preserve the original entry, while subsequent duplicates were removed to prevent data redundancy and analytical bias.

In [21]:
df = df.drop_duplicates(
    subset=["CalYear", "Employee_Name", "Job_Title", "Department"],
    keep="first")                          # Drop duplicate rows based on CalYear, Employee_Name, Job_Title, and Department
                                           # Keep only the first occurrence of each duplicate

# **2.10 Dataset Validation After Duplicate Removal**
After removing duplicate records, the dataset shape was checked to validate the impact of the cleaning process. This step confirms that redundant rows were successfully eliminated while preserving the overall structure of the dataset.

In [22]:
print("Shape after dropping duplicates:")
df.shape

Shape after dropping duplicates:

(40816, 10)

# **2.11 Zero Value Detection Across Columns**
To further assess data quality, the dataset was examined for zero values across all columns. Identifying zero values is important because, in salary-related datasets, zeros may indicate missing information, data entry errors, or non-applicable values—especially in numerical fields such as salary, overtime, or hours worked.

In [23]:
print("Number of zero values per column:")
(df == 0).sum() #Count how many zero values are present in each column

Number of zero values per column:

CalYear                    0
Employee_Name              0
Department                 0
Job_Title                  0
Annual_Rate              850
Regular_Rate            1171
Overtime_Rate          16331
Incentive_Allowance    23208
YTD_Total               1027
ObjectId                   0
dtype: int64

# **2.12 Handling Zero Values in Annual and Regular Pay Rates**

In this step, zero values in the Annual_Rate and Regular_Rate columns are replaced with NaN.
A value of zero in pay rate fields usually indicates missing or invalid data rather than a true salary. Converting these zeros to NaN ensures they are excluded from statistical calculations such as median or mean and allows proper imputation in later steps.

In [24]:
df.loc[df['Annual_Rate'] == 0, 'Annual_Rate'] = np.nan
df.loc[df['Regular_Rate'] == 0, 'Regular_Rate'] = np.nan

# **2.13 Median-Based Salary Distribution Analysis**

In [25]:
print("Median Annual_Rate:")
df['Annual_Rate'].median() # Calculate the median of the Annual_Rate column

Median Annual_Rate:

56971.2

In [26]:
print("Median Regular_Rate:")
df['Regular_Rate'].median()  # Calculate the median of the Regular_Rate column

Median Regular_Rate:

42541.21

# **2.14 Median Imputation for Pay Rates**

After converting invalid zero values to NaN, the median of the Annual_Rate and Regular_Rate columns is calculated using the available valid data. These median values are then used to fill the missing entries in the respective columns

In [27]:
median_annual = df['Annual_Rate'].median()
median_regular = df['Regular_Rate'].median()

df.loc[:, 'Annual_Rate'] = df['Annual_Rate'].fillna(median_annual)
df.loc[:, 'Regular_Rate'] = df['Regular_Rate'].fillna(median_regular)

# **2.15 Derived New Column: Hourly Rate**
This step creates a new column named Hourly_Rate in the DataFrame. The hourly rate is calculated by converting the annual salary into an hourly wage, assuming a standard work schedule of 52 weeks per year and 40 hours per week (i.e., 2,080 working hours annually).

In [28]:
df = df.copy()
df.loc[:, 'Hourly_Rate'] = df['Annual_Rate'] / (52 * 40)

# **2.16 Overtime_Rate – Explanation**

The Overtime represents additional compensation paid to employees for hours worked beyond their regular working schedule. It is typically provided when employees are required to work extra hours due to workload demands, staffing shortages, or operational requirements. Overtime pay is used to compensate employees for extra effort and ensure continuity of essential services. In the dataset, zero values in the Overtime column indicate employees who did not work any overtime during the given period, and these values are retained to reflect actual payroll conditions.

# **2.17 Incentive Allowance Explanation**
The Incentive_Allowance represents additional compensation provided to employees beyond their regular salary. It is typically awarded based on performance, productivity, achievement of targets, or special responsibilities. This allowance is used to motivate employees, reward extra effort, and improve overall work efficiency.In the dataset, zero values in the Incentive_Allowance column indicate employees who did not receive any incentive during the given period

# **2.18 Year-to-Date (YTD) Total Compensation Calculation**
To derive a comprehensive measure of employee earnings, a Year-to-Date (YTD) Total Compensation feature was created. This metric represents the total compensation earned by each employee within a given calendar year by aggregating all major pay components.

The calculation was performed by grouping the data by Employee_Name and CalYear, summing the individual compensation components—Annual_Rate, Regular_Rate, Overtime_Rate, and Incentive_Allowance—and then combining them to produce a single YTD total value.

In [29]:
df.loc[:, 'YTD_Total'] = df.groupby(
    ['Employee_Name', 'CalYear']
)[[ 'Annual_Rate', 'Overtime_Rate', 'Incentive_Allowance']] \
    .transform('sum').sum(axis=1)   # Summing Annual_Rate, Regular_Rate, Overtime_Rate

# **2.19 Final Cleaned Dataset Overview**
After completing data cleaning steps—including duplicate removal, zero-value detection, and median-based imputation—the dataset is now standardized and ready for exploratory and analytical processing. The DataFrame (df) represents a refined version of the original data with improved accuracy, consistency, and reliability.

In [30]:
print("Number of zero values per column:")
(df==0).sum()# Count how many zero values exist in each column

Number of zero values per column:

CalYear                    0
Employee_Name              0
Department                 0
Job_Title                  0
Annual_Rate                0
Regular_Rate               0
Overtime_Rate          16331
Incentive_Allowance    23208
YTD_Total                  0
ObjectId                   0
Hourly_Rate                0
dtype: int64

# **2.20 Finalizing the Clean Dataset for Analysis**

After handling missing and invalid values, rows containing remaining NaN values are removed to create a fully cleaned dataset. The cleaned data is then exported as a CSV file for further analysis and reporting.

In [ ]:
cleaned_df = df.dropna()

cleaned_df.to_csv('/content/Louisville_Metro_KY_-_Employee_Salary_Data.csv', index=False)

In [ ]:
from google.colab import files
files.download('/content/Louisville_Metro_KY_-_Employee_Salary_Data.csv')

In [31]:
df

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
0,2026,William E Summers,OMB Finance,Board Member,56971.20,42541.21,0.00,0.00,56971.20,1,27.39
1,2026,David Martin,Louisville Free Public Library,Library Page LU,30763.20,1183.20,0.00,0.00,30763.20,2,14.79
2,2026,Darrell Sheridan Ammon,Louisville Metro Police Department,Criminal Justice Specialist,70844.80,2724.80,0.00,0.00,70844.80,3,34.06
3,2026,David B. Waggoner,Louisville Fire,Fire Prevention Inspector I,75944.96,2555.84,0.00,239.25,76184.21,4,36.51
4,2026,Larry J Lenahan,OMB Finance,Budget Analyst I,46248.80,1200.71,0.00,0.00,46248.80,5,22.24
...,...,...,...,...,...,...,...,...,...,...,...
40824,2021,Darrin Johnson,Technology Services,PC Support Analyst II,44803.20,1723.20,0.00,0.00,44803.20,40825,21.54
40825,2021,Tristan Biagi,Technology Services,PC Support Analyst II,44803.20,861.60,0.00,0.00,44803.20,40826,21.54
40826,2021,Ethan Lett,Develop Louisville,Planning Technician U315,34049.60,654.80,0.00,0.00,34049.60,40827,16.37
40827,2021,LaFon Brown,Solid Waste Management,Sanitation Tipper-CDL,41891.20,2094.56,594.13,0.00,42485.33,40828,20.14
40828,2021,Timothy King,Public Works,Equipment Operator-TM,39041.60,750.80,0.00,0.00,107075.63,40829,18.77

# **Filtering and Aggregating Data**

# **2.21 Departments Active in Each Year**
To understand departmental coverage across different calendar years, the dataset was grouped by CalYear and the unique departments present in each year were extracted. This aggregation highlights which departments were operational in each year and helps track structural or organizational changes over time.

In [32]:
departments_each_year = (
    df.groupby('CalYear')['Department']
      .unique()
)

print(departments_each_year)

CalYear
2021    [Library, Inspections, Permits & License, Loui...
2022    [Jefferson County Attorney, Codes & Regulation...
2023    [Office of Housing & Community Development, Ma...
2024    [Louisville Fire, Louisville Metro Police Depa...
2025    [Metro Council, Parks & Recreation, Office of ...
2026    [OMB Finance, Louisville Free Public Library, ...
Name: Department, dtype: object

# **2.22 Employee Count by Year**
To analyze workforce trends over time, the dataset was aggregated to calculate the number of employees in each calendar year. Grouping the data by CalYear provides insight into changes in workforce size and supports year-wise comparisons of staffing levels.

In [33]:
print('NO OF EMPLOYEES IN EACH YEAR')
year_counts = df.groupby('CalYear').size()
print(year_counts)  # Count employees per year

NO OF EMPLOYEES IN EACH YEAR
CalYear
2021    6667
2022    6730
2023    6985
2024    7326
2025    7198
2026    5910
dtype: int64

# **2.23 Department-wise Data Preview**
To verify data integrity and understand the structure of records across different departments, the dataset was examined department-wise. Each unique value in the Department column was iterated, and a subset of records corresponding to each department was extracted.

In [34]:
from IPython.display import display
for dep in df['Department'].unique(): # Each unique department
    print(f"\ndepartment: {dep}")
    display(df.loc[df['Department'] == dep].head())

department: OMB Finance

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
0,2026,William E Summers,OMB Finance,Board Member,56971.20,42541.21,0.00,0.00,56971.20,1,27.39
4,2026,Larry J Lenahan,OMB Finance,Budget Analyst I,46248.80,1200.71,0.00,0.00,46248.80,5,22.24
22,2026,Kenneth M Hillebrand,OMB Finance,Executive Director,105206.40,4046.40,0.00,0.00,105206.40,23,50.58
87,2026,Michael P Burt,OMB Finance,Fiscal Manager,99236.80,3816.80,0.00,0.00,99236.80,88,47.71
157,2026,Carrie Garrison Peers,OMB Finance,Fiscal Manager,98862.40,3802.40,0.00,0.00,98862.40,158,47.53

department: Louisville Free Public Library

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
1,2026,David Martin,Louisville Free Public Library,Library Page LU,30763.20,1183.20,0.00,0.00,30763.20,2,14.79
19,2026,Steven Hancock,Louisville Free Public Library,Library Clerk LU,37044.80,1424.80,0.00,0.00,37044.80,20,17.81
21,2026,Claudia M Fitch,Louisville Free Public Library,Library Assistant LU,47278.40,1818.40,181.84,0.00,47460.24,22,22.73
28,2026,Lynda Brown,Louisville Free Public Library,Library Clerk-Technical Svcs,37044.80,1424.80,0.00,0.00,37044.80,29,17.81
54,2026,Tonya M Swan,Louisville Free Public Library,Library Programs Supervisor - Regional,68577.60,2637.61,0.00,0.00,68577.60,55,32.97

department: Louisville Metro Police Department

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
2,2026,Darrell Sheridan Ammon,Louisville Metro Police Department,Criminal Justice Specialist,70844.80,2724.80,0.00,0.00,70844.80,3,34.06
7,2026,Theresa Y May,Louisville Metro Police Department,Word Processing Clerk Police,39499.20,1519.20,0.00,60.12,39559.32,8,18.99
10,2026,James Lee Vertrees,Louisville Metro Police Department,Traffic Guard I,17721.60,681.60,0.00,0.00,17721.60,11,8.52
11,2026,Patricia Marvies Thurston,Louisville Metro Police Department,Traffic Guard II,27409.20,1054.20,0.00,0.00,27409.20,12,13.18
16,2026,Matthew Gerard Butler,Louisville Metro Police Department,Police Officer,95555.20,3675.20,0.00,175.20,95730.40,17,45.94

department: Louisville Fire

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
3,2026,David B. Waggoner,Louisville Fire,Fire Prevention Inspector I,75944.96,2555.84,0.00,239.25,76184.21,4,36.51
38,2026,Dwayne E Burgett,Louisville Fire,Fire Battalion Chief 56hr,122793.21,4427.65,885.53,902.91,124581.65,39,59.04
83,2026,Anthony M Downes,Louisville Fire,Fire Battalion Chief 40hr,107442.40,4132.40,5268.82,1542.34,114253.56,84,51.65
84,2026,Chad A Herndon,Louisville Fire,Fire Company Commander 56hr,90711.30,2180.58,654.18,430.05,91795.53,85,43.61
101,2026,Shawn L Brown,Louisville Fire,Fire Apparatus Operator 56hr,79465.98,1910.26,1432.69,632.36,81531.03,102,38.20

department: Louisville Zoo

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
5,2026,Steven R Taylor,Louisville Zoo,ASST. Director,113882.82,4380.17,0.00,0.00,113882.82,6,54.75
8,2026,Mary D Taylor,Louisville Zoo,Volunteer Coordinator,56950.40,2190.43,0.00,0.00,56950.40,9,27.38
14,2026,William P McMahan,Louisville Zoo,Taxonomic Curator,93766.40,3457.69,0.00,0.00,93766.40,15,45.08
15,2026,Joseph Edgar Powers,Louisville Zoo,Maintenance Mechanic ZU,69264.00,2664.00,0.00,0.00,69264.00,16,33.30
17,2026,Silvia Zirkelbach,Louisville Zoo,Keeper III ZU,60257.60,2317.62,417.20,0.00,60674.80,18,28.97

department: Codes & Regulations

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
6,2026,Aaron Willis Cole,Codes & Regulations,Board Member,56971.20,42541.21,0.00,0.00,56971.20,7,27.39
63,2026,Dana Renee Luther-Crawford,Codes & Regulations,Code Enforcement Officer-CC,63585.60,2445.61,0.00,0.00,63585.60,64,30.57
125,2026,Allen Gilbert Porter,Codes & Regulations,Building Inspection Supervisor,90688.00,3488.00,0.00,0.00,90688.00,126,43.60
218,2026,Terry Ray Rothman,Codes & Regulations,Code Enforcement Officer-CC,67454.40,2594.40,0.00,0.00,67454.40,219,32.43
260,2026,Montanez Perkins,Codes & Regulations,Laborer-TM,43680.00,1680.00,2.10,0.00,43682.10,261,21.00

department: Facilities and Fleet Management

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
9,2026,Kevin Gardner,Facilities and Fleet Management,Mechanic III-Heavy Equipment,76440.00,3032.00,3.79,300.00,76743.79,10,36.75
24,2026,Lawrence Ray Meadors,Facilities and Fleet Management,Mechanic III-Heavy Equipment,76440.00,3032.00,0.00,300.00,76740.00,25,36.75
47,2026,Matthew Gene Maskey,Facilities and Fleet Management,Executive Administrator,103503.18,3980.90,0.00,0.00,103503.18,48,49.76
50,2026,Mark E Zoeller,Facilities and Fleet Management,Executive Director,161857.29,6225.30,0.00,0.00,161857.29,51,77.82
52,2026,Claude B Jeffries,Facilities and Fleet Management,Fleet Manager,91208.00,3508.00,0.00,0.00,91208.00,53,43.85

department: Human Resources

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
12,2026,Albert A Tronzo,Human Resources,Board Member,56971.20,42541.21,0.00,0.00,56971.20,13,27.39
41,2026,Bernadette Venita Baker,Human Resources,Administrative Coordinator,38974.00,1499.03,0.00,0.00,38974.00,42,18.74
267,2026,Julia Hoffman Henry,Human Resources,Human Resources Hiring Coordinator,67766.40,2606.40,0.00,0.00,67766.40,268,32.58
269,2026,Penny Wales,Human Resources,Assistant Director,134400.00,5169.30,0.00,0.00,134400.00,270,64.62
336,2026,Steven R Wilkins,Human Resources,Chief Examiner,120265.60,4625.62,0.00,0.00,120265.60,337,57.82

department: Alcoholic Beverage Control

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
13,2026,Diane M Atzinger,Alcoholic Beverage Control,Customer Service Supervisor,70491.20,2711.21,0.00,0.00,70491.20,14,33.89
128,2026,Alejandro T Cabrera,Alcoholic Beverage Control,License & Permit Investigator-CC,81452.80,3132.80,0.00,175.47,81628.27,129,39.16
204,2026,William Dale Mattingly,Alcoholic Beverage Control,License & Permit Investigator-CC,75316.80,2896.80,0.00,175.47,75492.27,205,36.21
217,2026,Jeremy Allen Owens,Alcoholic Beverage Control,License & Permit Investigator-CC,72404.80,2784.80,0.00,175.47,72580.27,218,34.81
645,2026,Ronald Wayne Fey,Alcoholic Beverage Control,Licenses & Permits Invest Mgr,94515.20,3635.20,0.00,175.47,94690.67,646,45.44

department: Jefferson County Coroner

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
18,2026,Anthony Bruce Wight,Jefferson County Coroner,Deputy Coroner,62836.80,2416.80,0.00,350.00,63186.80,19,30.21
134,2026,Stuart W Pryse,Jefferson County Coroner,Deputy Coroner,62836.80,2416.80,0.00,350.00,63186.80,135,30.21
236,2026,Jeffrey Todd Wheeler,Jefferson County Coroner,Deputy Coroner,62836.80,2416.80,0.00,350.00,63186.80,237,30.21
369,2026,Lawrence G Zehnder,Jefferson County Coroner,Deputy Coroner,62836.80,2416.80,0.00,350.00,63186.80,370,30.21
382,2026,Michael Edward Haag,Jefferson County Coroner,Deputy Coroner,62836.80,2416.80,0.00,350.00,63186.80,383,30.21

department: Jefferson County Attorney

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
20,2026,Maryanne Watkins,Jefferson County Attorney,Assistant County Attorney,93880.80,3610.80,0.00,0.00,93880.80,21,45.13
95,2026,Paul Clark Rutherford,Jefferson County Attorney,Assistant County Attorney,108160.00,4160.00,0.00,0.00,108160.00,96,52.00
142,2026,Erica Louise Carter,Jefferson County Attorney,Legal Secretary I,51251.20,1971.20,0.00,0.00,51251.20,143,24.64
285,2026,Carrie Pearson Hall,Jefferson County Attorney,Assistant County Attorney,76050.00,2925.00,0.00,0.00,76050.00,286,36.56
309,2026,Gregory Scott Gowen,Jefferson County Attorney,Assistant County Attorney,118185.60,4545.60,0.00,0.00,118185.60,310,56.82

department: Office of Social Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
25,2026,LaTonya M Jackson,Office of Social Services,Social Service Prog Spec U31,51979.20,1999.20,0.00,0.00,51979.20,26,24.99
60,2026,Teresa Lee Baker,Office of Social Services,Nutrition Center Supv U31,22848.80,878.80,0.00,0.00,22848.80,61,10.98
111,2026,Kelly Michelle Semones,Office of Social Services,Personnel Coordinator,59238.40,2278.40,0.00,0.00,59238.40,112,28.48
119,2026,Stacey Renee Bryant,Office of Social Services,OSS Senior Social Worker U31,66580.80,2560.80,0.00,0.00,66580.80,120,32.01
121,2026,Jonathan Pilbean,Office of Social Services,ASST. Director,115029.43,4424.22,0.00,0.00,115029.43,122,55.30

department: Office of Housing & Community Development

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
26,2026,Hettie E Bailey,Office of Housing & Community Development,Executive Administrator,103661.49,3986.99,0.00,0.00,103661.49,27,49.84
34,2026,Shonda Barlow Garner,Office of Housing & Community Development,ASST. Director,110709.45,4258.08,0.00,0.00,110709.45,35,53.23
72,2026,Jacqueline Denise Wilson-Rudy,Office of Housing & Community Development,Administrative Coordinator,56763.20,2838.16,0.00,0.00,56763.20,73,27.29
225,2026,Connie R Sutton,Office of Housing & Community Development,Real Estate Program Coordinator,71406.40,2440.89,0.00,0.00,71406.40,226,34.33
232,2026,Jennifer Lynn Dye,Office of Housing & Community Development,Project Manager I,81386.18,3130.27,0.00,0.00,81386.18,233,39.13

department: Office of Inspector General

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
29,2026,Stella Louise Dorsey,Office of Inspector General,Ombudsman,65748.80,2528.80,0.00,0.00,65748.80,30,31.61
3316,2026,Denise Louise Sears,Office of Inspector General,Board Member,56971.20,42541.21,0.00,0.00,56971.20,3317,27.39
3320,2026,Scott T Dickens,Office of Inspector General,Board Member,56971.20,42541.21,0.00,0.00,56971.20,3321,27.39
3693,2026,Edward W Harness,Office of Inspector General,Inspector General,187642.85,7217.06,0.00,0.00,187642.85,3694,90.21
3793,2026,Thomas S Whetstone,Office of Inspector General,Inspector General Analyst,68140.80,2620.80,0.00,0.00,68140.80,3794,32.76

department: Public Works & Assets

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
30,2026,Robert Jerome Perkins,Public Works & Assets,Mechanic III-Heavy Equipment,76440.00,2122.40,422.59,300.00,77162.59,31,36.75
43,2026,Jerry Andrew Cantrell,Public Works & Assets,Right-of-Way Permit License Supervisor,82638.40,3178.40,0.00,0.00,82638.40,44,39.73
44,2026,Patricia Ann Jennings,Public Works & Assets,Labor Supervisor,81036.80,3155.76,0.00,0.00,81036.80,45,38.96
58,2026,Edward Jewell Brown,Public Works & Assets,Packer Driver-WC,52416.00,2096.00,450.64,0.00,52866.64,59,25.20
62,2026,Kevin D Wade,Public Works & Assets,Solid Waste Supervisor,71323.20,2743.20,0.00,0.00,71323.20,63,34.29

department: Metro Council

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
32,2026,Charles Byron Weathers,Metro Council,Legislative Assistant,92788.80,3568.80,0.00,0.00,92788.80,33,44.61
149,2026,Erica Ever Turner,Metro Council,Administrative Assistant S3,74588.80,2868.80,0.00,0.00,74588.80,150,35.86
452,2026,Kevin Joseph Kramer,Metro Council,Metro Council Member,58207.85,2238.77,0.00,0.00,58207.85,453,27.98
455,2026,Stuart Boyd Benson,Metro Council,Metro Council Member,58207.85,2238.77,0.00,0.00,58207.85,456,27.98
457,2026,Barbara E Shanklin,Metro Council,Metro Council Member,58207.85,2238.77,0.00,0.00,58207.85,458,27.98

department: Parks & Recreation

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
33,2026,Victor L Whiteside,Parks & Recreation,Park Worker II,43492.80,1672.82,0.00,0.00,43492.80,34,20.91
35,2026,Michael Alex Veto,Parks & Recreation,Security Supervisor,60465.60,2325.60,0.00,0.00,60465.60,36,29.07
42,2026,S Garr Pardieu,Parks & Recreation,Golf Operations Supervisor I,68203.20,2623.20,0.00,0.00,68203.20,43,32.79
57,2026,Paul Allen Huguley,Parks & Recreation,Park Worker II,42224.00,1624.00,4.06,0.00,42228.06,58,20.30
59,2026,Quintaila Marie Weathers,Parks & Recreation,Recreation Leader PU,48984.00,1884.01,7.07,0.00,48991.07,60,23.55

department: Emergency Management Agency MetroSafe

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
37,2026,Kelly R Jones,Emergency Management Agency MetroSafe,Assist Director EM MetroSafe,127373.56,4898.99,0.00,0.00,127373.56,38,61.24
55,2026,Eric Paul Frost,Emergency Management Agency MetroSafe,Public Safety Radio Technician I,82056.00,3275.90,1418.23,0.00,83474.23,56,39.45
56,2026,Tari Brooks,Emergency Management Agency MetroSafe,Telecom Supervisor I,85904.00,3304.00,0.00,0.00,85904.00,57,41.30
106,2026,Steven M Kelsey,Emergency Management Agency MetroSafe,Staff Helper Internal,78769.60,3029.60,0.00,0.00,78769.60,107,37.87
123,2026,Robert A. Schmid,Emergency Management Agency MetroSafe,Public Safety Systems Engineer,79456.00,3405.60,2167.20,0.00,81623.20,124,38.20

department: Public Health & Wellness

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
45,2026,Kimberly Lynette Young,Public Health & Wellness,Management Assistant U31,41392.00,1592.00,0.00,0.00,41392.00,46,19.90
186,2026,Claudia Maria Peralta-Mudd,Public Health & Wellness,Community Health Administrator,82014.40,3154.41,0.00,0.00,82014.40,187,39.43
230,2026,Michael P Ballard,Public Health & Wellness,Engineer Manager,98945.60,3805.63,0.00,0.00,98945.60,231,47.57
317,2026,Tenoeda Oshea Dixon,Public Health & Wellness,Community Hlth Soc Wrkr U31,61505.60,2365.60,0.00,0.00,61505.60,318,29.57
402,2026,Sharry Diana Mallory,Public Health & Wellness,Nutrition Services Spec U31,74984.00,2884.00,0.00,0.00,74984.00,403,36.05

department: Office of Internal Audit

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
51,2026,Paul J Fischer,Office of Internal Audit,Internal Auditor,70553.60,2744.13,0.00,0.00,70553.60,52,33.92
2020,2026,Laketa Elaine Short,Office of Internal Audit,Internal Audit Senior,82534.40,3174.40,0.00,0.00,82534.40,2021,39.68
2163,2026,David A Googe,Office of Internal Audit,Assistant Director,115029.43,4424.25,0.00,0.00,115029.43,2164,55.30
2606,2026,Jacqueline Belle Lewis,Office of Internal Audit,Director,139818.49,5377.66,0.00,0.00,139818.49,2607,67.22
3535,2026,Grant Allen Harper,Office of Internal Audit,Internal Audit Manager,94640.00,3640.00,0.00,0.00,94640.00,3536,45.50

department: Parking Authority of River City - PARC

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
53,2026,Gerald Douglas Howell,Parking Authority of River City - PARC,Director,125216.00,4816.00,0.00,0.00,125216.00,54,60.20
66,2026,Brenda Joyce Washington,Parking Authority of River City - PARC,Business Accountant I Quasi,61880.00,2380.00,0.00,0.00,61880.00,67,29.75
314,2026,Daniel Filburn,Parking Authority of River City - PARC,Parking Team Leader,62358.40,2398.40,0.00,0.00,62358.40,315,29.98
371,2026,Gloria Yolanda Henderson,Parking Authority of River City - PARC,Parking Team Leader,62358.40,2398.40,0.00,0.00,62358.40,372,29.98
394,2026,Margaret Lisbeth Baas,Parking Authority of River City - PARC,Parking Facilities Coordinator,71156.80,2736.80,0.00,0.00,71156.80,395,34.21

department: KentuckianaWorks

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
61,2026,Christopher D Locke,KentuckianaWorks,Senior Program Manager,96366.40,3706.40,0.00,0.00,96366.40,62,46.33
117,2026,Regina Lee Phillips,KentuckianaWorks,Senior Program Manager,100214.40,3854.40,0.00,0.00,100214.40,118,48.18
135,2026,Bryan Montes Griffin,KentuckianaWorks,Information Technology Manager,94640.00,3640.00,0.00,0.00,94640.00,136,45.50
182,2026,Michael Gritton,KentuckianaWorks,Director,150532.26,5789.78,0.00,0.00,150532.26,183,72.37
184,2026,Latricia D Swope,KentuckianaWorks,Administrative Assistant,68244.80,2624.81,65.62,0.00,68310.42,185,32.81

department: Human Relations Commission

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
91,2026,Rotonia M Sanford,Human Relations Commission,Administrative Specialist,57200.00,2200.00,0.00,0.00,57200.00,92,27.50
205,2026,Diniah Lynn Calhoun,Human Relations Commission,Administrative Assistant,76793.60,2953.61,0.00,0.00,76793.60,206,36.92
334,2026,Verna C Goatley,Human Relations Commission,Director,136579.50,5253.09,0.00,0.00,136579.50,335,65.66
2022,2026,Jermaine D. Burks,Human Relations Commission,HRC Compliance Analyst,65332.80,2512.80,0.00,0.00,65332.80,2023,31.41
2490,2026,Judy Ballard Dillander,Human Relations Commission,HRC Compliance Officer,70428.80,2708.81,0.00,0.00,70428.80,2491,33.86

department: Department of Corrections

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
94,2026,Marylea Diedra Nicolas-Bates,Department of Corrections,Corrections Supvsr I,50960.00,2000.00,848.75,0.00,51808.75,95,24.50
233,2026,Tasha L Rudolph,Department of Corrections,Corrections Officer,55931.20,2171.21,333.83,0.00,56265.03,234,26.89
284,2026,Jennifer Scott,Department of Corrections,Personnel Specialist,47819.20,1839.24,2.30,0.00,47821.50,285,22.99
321,2026,Rachelle Shipley,Department of Corrections,Corrections Officer,69596.80,2676.80,401.52,0.00,69998.32,322,33.46
379,2026,Avery Ray Dorsey,Department of Corrections,Corrections Technician,36379.20,1431.20,0.00,0.00,36379.20,380,17.49

department: Office of Violence Prevention

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
102,2026,Niletta Rene Douglas,Office of Violence Prevention,OVP Program Manager,93828.80,3608.81,0.00,0.00,93828.80,103,45.11
120,2026,James D Britton,Office of Violence Prevention,OVP Community Outreach Coordinator,68224.00,2624.00,0.00,0.00,68224.00,121,32.80
156,2026,Darynell W Mayes,Office of Violence Prevention,OVP Community Outreach Supervisor,74048.00,2848.00,0.00,0.00,74048.00,157,35.60
227,2026,Lavonta Ravon Churchill,Office of Violence Prevention,Project Manager I,71988.80,2768.80,0.00,0.00,71988.80,228,34.61
366,2026,Connie Anita Cherry,Office of Violence Prevention,OVP Community Outreach Coordinator,63731.20,2573.76,0.00,0.00,63731.20,367,30.64

department: Metro Technology Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
107,2026,Brian C Clenney,Metro Technology Services,Senior Security Advisor,125028.80,4808.80,0.00,0.00,125028.80,108,60.11
203,2026,Broderick W Wilson,Metro Technology Services,Endpoint Support Analyst I U31,66580.80,2560.80,0.00,0.00,66580.80,204,32.01
254,2026,Ryan P Goodman,Metro Technology Services,Sr Ent Sys Busn Analyst II,110177.60,4237.60,0.00,0.00,110177.60,255,52.97
417,2026,Steven Dailey,Metro Technology Services,Information Technology Manager,125028.80,4808.81,0.00,0.00,125028.80,418,60.11
439,2026,Sharon Maria Meador,Metro Technology Services,Senior IT Manager,141835.20,5455.20,0.00,0.00,141835.20,440,68.19

department: Revenue Commission

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
147,2026,Sara C Tucker,Revenue Commission,Customer Experience Supervisor,85737.60,3297.62,0.00,0.00,85737.60,148,41.22
158,2026,Terri A McClendon,Revenue Commission,Tax Compliance Specialist U31,70657.60,2717.60,0.00,0.00,70657.60,159,33.97
244,2026,Dena M Sanders,Revenue Commission,Business Analytics Manager,122699.20,4719.24,0.00,0.00,122699.20,245,58.99
290,2026,Amit K Sarkar,Revenue Commission,Assistant Director,139080.25,5349.26,0.00,0.00,139080.25,291,66.87
540,2026,Hope Allice Finley,Revenue Commission,Senior Tax Processing Spec U31,62753.60,2413.61,0.00,0.00,62753.60,541,30.17

department: Waterfront Development Corporation

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
150,2026,Paul Carey,Waterfront Development Corporation,Plumber,88795.20,2732.16,0.00,0.00,88795.20,151,42.69
300,2026,Ashley Cox Smith,Waterfront Development Corporation,Project Manager I,103302.93,3973.19,0.00,0.00,103302.93,301,49.66
733,2026,Kelley Elaine Runyon,Waterfront Development Corporation,Project Manager I,84306.39,3242.57,0.00,0.00,84306.39,734,40.53
773,2026,Deborah Anne Bilitski,Waterfront Development Corporation,Director,160279.35,6164.60,0.00,0.00,160279.35,774,77.06
1034,2026,Alexander P Laughlin,Waterfront Development Corporation,Project Manager I,77868.00,2994.94,0.00,0.00,77868.00,1035,37.44

department: Youth Transitional Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
169,2026,Troy Edward Posey,Youth Transitional Services,Court Process Officer U31,49212.80,1924.80,48.12,0.00,49260.92,170,23.66
261,2026,Antoino DeHaven Thomas,Youth Transitional Services,Court Process Supervisor,70137.60,2697.64,1446.60,0.00,71584.20,262,33.72
353,2026,Erika Nicole Davis,Youth Transitional Services,Transportation Officer U31,56825.60,2217.60,0.00,0.00,56825.60,354,27.32
442,2026,James A Blanks,Youth Transitional Services,Transportation Officer U31,56825.60,2213.60,0.00,0.00,56825.60,443,27.32
611,2026,Jean Octavia Bell,Youth Transitional Services,Administrative Coordinator,65291.20,2548.87,0.00,0.00,65291.20,612,31.39

department: Economic Development

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
264,2026,Altheia Patterson,Economic Development,Executive Administrator,99366.06,3821.79,0.00,0.00,99366.06,265,47.77
463,2026,Michael Edward Maloney,Economic Development,ASST. Director,104334.47,4012.87,0.00,0.00,104334.47,464,50.16
2831,2026,Melissa Diane Ryan,Economic Development,Executive Administrator,103422.05,3977.79,0.00,0.00,103422.05,2832,49.72
3061,2026,Joshua Harris McKee,Economic Development,LEDA Administrator,185000.00,7115.39,0.00,0.00,185000.00,3062,88.94
3408,2026,Amos Izerimana,Economic Development,Director,131686.04,5064.87,0.00,0.00,131686.04,3409,63.31

department: Metro Animal Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
288,2026,Andrew S. McClinton,Metro Animal Services,Director,123133.92,4735.94,0.00,0.00,123133.92,289,59.20
633,2026,Michael Ray McMichael,Metro Animal Services,Animal Control Officer III U31,60299.20,2026.41,0.00,0.00,60299.20,634,28.99
665,2026,Robert R Ratliff,Metro Animal Services,Animal Control Officer II U31,57969.60,2229.62,5.58,0.00,57975.18,666,27.87
1122,2026,Mark Anthony Sabatini,Metro Animal Services,Animal Control Officer III U31,60299.20,2359.21,8.85,0.00,60308.05,1123,28.99
1165,2026,Adam J Hamilton,Metro Animal Services,ASST. Director,104188.03,4007.25,0.00,0.00,104188.03,1166,50.09

department: Group Violence Intervention

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
313,2026,Tracy Lynn Brown-Hobbs,Group Violence Intervention,Administrative Coordinator,55099.20,2119.20,0.00,0.00,55099.20,314,26.49
4704,2026,Shane Simmons,Group Violence Intervention,ASST. Director,98404.80,3784.80,0.00,0.00,98404.80,4705,47.31
6135,2025,Tracy Lynn Brown-Hobbs,Group Violence Intervention,Administrative Coordinator,55099.20,53717.44,158.94,0.00,55258.14,6136,26.49
10830,2025,Shane Simmons,Group Violence Intervention,ASST. Director,98404.80,96735.87,0.00,0.00,98404.80,10831,47.31
19194,2023,Dondre Javan Jefferson,Group Violence Intervention,Project Manager I,71604.00,38556.00,0.00,0.00,71604.00,19195,34.42

department: Office of Planning

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
343,2026,Jay P Luckett,Office of Planning,Planning & Design Supervisor,82555.20,3175.20,0.00,0.00,82555.20,344,39.69
676,2026,James B Davis,Office of Planning,Director,132984.64,5114.80,0.00,0.00,132984.64,677,63.93
723,2026,Julia Brown Williams,Office of Planning,ASST. Director,106873.20,4110.57,0.00,0.00,106873.20,724,51.38
874,2026,Yani I Vozos,Office of Planning,Board Member,56971.20,42541.21,0.00,0.00,56971.20,875,27.39
1059,2026,Savannah Leigh Brumley Darr,Office of Planning,Executive Administrator,103312.82,3973.58,0.00,0.00,103312.82,1060,49.67

department: Mayor Office

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
365,2026,Althea Smith Jackson,Mayor Office,Executive Administrator,96532.80,3712.80,0.00,0.00,96532.80,366,46.41
2263,2026,Susan Wrocklage Durham,Mayor Office,Senior Advisor for Grants,102742.50,3951.66,0.00,0.00,102742.50,2264,49.40
3074,2026,Genevieve Page First,Mayor Office,Special Assistant,81390.40,3130.40,0.00,0.00,81390.40,3075,39.13
3132,2026,Nicole A George,Mayor Office,Deputy Mayor,186558.86,7175.36,0.00,0.00,186558.86,3133,89.69
3248,2026,Keturah D Morrow,Mayor Office,Metro Council Liaison,81117.69,3119.98,0.00,0.00,81117.69,3249,39.00

department: Belle of Louisville

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
376,2026,Vincent E Mattingly,Belle of Louisville,Captain-Pilot,63481.60,2685.76,0.00,0.00,63481.60,377,30.52
938,2026,Joseph Edward Kenney,Belle of Louisville,Captain-Pilot,63481.60,2441.60,0.00,0.00,63481.60,939,30.52
969,2026,James Warfield Donohue,Belle of Louisville,Captain-Pilot,26520.00,42541.21,0.00,0.00,26520.00,970,12.75
1041,2026,Brian L Russell,Belle of Louisville,Belle Engineering Assistant,13634.40,42541.21,0.00,0.00,13634.40,1042,6.55
1155,2026,Kevin Mullen,Belle of Louisville,Captain-Pilot,26520.00,42541.21,0.00,0.00,26520.00,1156,12.75

department: Emergency Medical Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
383,2026,Douglas L Sweeney,Emergency Medical Services,ASST. Director,115556.55,4444.49,0.00,0.00,115556.55,384,55.56
495,2026,Todd D Board,Emergency Medical Services,Storekeeper I - EU,47632.00,1969.42,743.12,0.00,48375.12,496,22.90
516,2026,Adam B. Fries,Emergency Medical Services,Systems Analyst,78728.00,3028.00,0.00,0.00,78728.00,517,37.85
726,2026,Corissa N Baker,Emergency Medical Services,EMT,73840.00,2982.00,0.00,0.00,73840.00,727,35.50
890,2026,John A Johnson,Emergency Medical Services,EMS Manager,107224.00,4520.94,2474.40,0.00,109698.40,891,51.55

department: APCD

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
410,2026,Regina Mae Freeman,APCD,APCD Compliance Officer U31,66206.40,2546.40,0.00,0.00,66206.40,411,31.83
443,2026,William Thomas Dewitt,APCD,APCD Air Monitoring Program Manager,104561.60,4021.62,0.00,0.00,104561.60,444,50.27
647,2026,Deanne Kristin Lynch,APCD,Community Outreach Coordinator,67184.00,2584.00,0.00,0.00,67184.00,648,32.30
740,2026,Matthew B King,APCD,Environmental Engineer Manager,113276.80,4356.80,0.00,0.00,113276.80,741,54.46
907,2026,Donald L Fountain,APCD,Environmental Engineer Supervisor,100214.40,3854.40,0.00,0.00,100214.40,908,48.18

department: Other Statutory Obligations

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
445,2026,Amy Rupard Hilliard,Other Statutory Obligations,Director of Law Library,78935.66,2965.25,0.00,0.00,78935.66,446,37.95
601,2026,David L Nicholson,Other Statutory Obligations,Ex Officio Librarian-Law Libr,1300.00,50.00,0.00,0.00,1300.00,602,0.62
660,2026,Micheal S Thompson,Other Statutory Obligations,Constable,2600.00,42541.21,0.00,0.00,2600.00,661,1.25
3323,2026,Darlene Renee Lovely,Other Statutory Obligations,Board Member,56971.20,42541.21,0.00,0.00,56971.20,3324,27.39
3533,2026,Valerie P Wagner,Other Statutory Obligations,Technical Services Librarian,19822.40,744.48,0.00,0.00,19822.40,3534,9.53

department: Records Compliance

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
573,2026,Robin Michelle Berry,Records Compliance,Executive Director,168368.39,6475.76,0.00,0.00,168368.39,574,80.95
754,2026,David B Morgan,Records Compliance,Archival Coordinator,84115.20,3235.20,0.00,0.00,84115.20,755,40.44
1685,2026,Kevin Lamont Richardson,Records Compliance,Records Storage Specialist,47923.20,1843.20,0.00,0.00,47923.20,1686,23.04
1698,2026,Lisa Michele Pisterman,Records Compliance,Archival Coordinator,60278.40,2318.40,0.00,0.00,60278.40,1699,28.98
2285,2026,Tauheedah N El-Saadiq,Records Compliance,Open Records Specialist,60964.80,2344.80,0.00,0.00,60964.80,2286,29.31

department: Criminal Justice Commission

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
702,2026,Faith Marie Augustine,Criminal Justice Commission,Executive Liaison,134427.86,5170.37,0.00,0.00,134427.86,703,64.63
753,2026,Jamie Leigh Allen,Criminal Justice Commission,Executive Administrator,103356.40,3975.28,0.00,0.00,103356.40,754,49.69
844,2026,Stacey Farnam,Criminal Justice Commission,Public Protection Coordinator,67496.00,2596.00,0.00,0.00,67496.00,845,32.45
2637,2026,Tyler Clarke Dennison,Criminal Justice Commission,Public Protection Coordinator,66976.00,2576.00,0.00,0.00,66976.00,2638,32.20
6703,2025,Jamie Leigh Allen,Criminal Justice Commission,Executive Administrator,103356.40,100782.24,0.00,0.00,103356.40,6704,49.69

department: Office of Strategic Initiatives

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
834,2026,Leanne Marie French,Office of Strategic Initiatives,Director,131361.20,5052.39,0.00,0.00,131361.20,835,63.15
3583,2026,Annette Marie Dangerfield,Office of Strategic Initiatives,Project Manager II,95560.46,3675.44,0.00,0.00,95560.46,3584,45.94
4309,2026,Mariana L Barzun,Office of Strategic Initiatives,Executive Director,158980.07,6114.65,0.00,0.00,158980.07,4310,76.43
6971,2025,Leanne Marie French,Office of Strategic Initiatives,Director,131361.20,128089.45,0.00,0.00,131361.20,6972,63.15
9731,2025,Annette Marie Dangerfield,Office of Strategic Initiatives,Project Manager II,95560.46,93180.51,0.00,0.00,95560.46,9732,45.94

department: Metro TV

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
932,2026,Nicole J Lechniak,Metro TV,Senior Media Producer,67308.80,2588.80,0.00,0.00,67308.80,933,32.36
1701,2026,Seth D Dixon,Metro TV,Media Producer,58094.40,2234.40,0.00,0.00,58094.40,1702,27.93
1704,2026,Regan D Thomas,Metro TV,Multimedia Services Supervisor,90209.60,3469.60,0.00,0.00,90209.60,1705,43.37
1861,2026,Rebecca Ann Malone-Wills,Metro TV,Media Producer,63315.20,2435.20,0.00,0.00,63315.20,1862,30.44
4728,2026,Gary White,Metro TV,Director,136973.28,5268.24,0.00,0.00,136973.28,4729,65.85

department: Commonwealth Attorney

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
1262,2026,Jane Allison Duit,Commonwealth Attorney,Victim Advocate,76398.40,2754.80,0.00,0.00,76398.40,1263,36.73
2122,2026,Candace Annabelle Corona,Commonwealth Attorney,Victim Advocate,72363.20,2609.30,0.00,0.00,72363.20,2123,34.79
2501,2026,Scott B Drabenstadt,Commonwealth Attorney,Attorney - NoEEORpt,133619.20,4818.00,0.00,0.00,133619.20,2502,64.24
2514,2026,Andrew Connor Daley,Commonwealth Attorney,Attorney - NoEEORpt,124363.20,4484.30,0.00,0.00,124363.20,2515,59.79
2654,2026,Ashlen Nicole Meisel,Commonwealth Attorney,Video Records Specialist,78936.00,2846.30,0.00,0.00,78936.00,2655,37.95

department: Brightside

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
2019,2026,Lorri Annette Roberts,Brightside,Director,131728.44,5066.48,0.00,0.00,131728.44,2020,63.33
3076,2026,Vanesha Lapearl Beeler,Brightside,Administrative Coordinator,54849.60,2109.60,0.00,0.00,54849.60,3077,26.37
3431,2026,Mae Marks,Brightside,Events Supervisor,65312.00,2009.60,0.00,0.00,65312.00,3432,31.40
4310,2026,Alec C Brock,Brightside,Community Outreach Coordinator,54849.60,2109.60,0.00,0.00,54849.60,4311,26.37
8180,2025,Lorri Annette Roberts,Brightside,Director,131728.44,128447.40,0.00,0.00,131728.44,8181,63.33

department: Office of Sustainability

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
3459,2026,Jacob Killian Medley,Office of Sustainability,Director,117270.60,4510.44,0.00,0.00,117270.60,3460,56.38
4083,2026,Heather Ann Wright,Office of Sustainability,Executive Administrator,81016.00,3116.00,0.00,0.00,81016.00,4084,38.95
4959,2026,Maria Tori,Office of Sustainability,Special Assistant,68265.60,2625.60,0.00,0.00,68265.60,4960,32.82
5116,2026,Alexander Herrin,Office of Sustainability,Sustainability Analyst,79372.80,3052.80,0.00,0.00,79372.80,5117,38.16
9847,2025,Sumedha Rao,Office of Sustainability,Director,131686.04,89406.82,0.00,0.00,131686.04,9848,63.31

department: Office of Equity

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
3765,2026,Gretchen M Hunt,Office of Equity,Director,131686.04,5064.87,0.00,0.00,131686.04,3766,63.31
3819,2026,Robin Monique Hawkins,Office of Equity,Executive Administrator,104233.15,4008.98,0.00,0.00,104233.15,3820,50.11
5064,2026,Vanessa McPhail,Office of Equity,Executive Director,159600.00,6138.48,0.00,0.00,159600.00,5065,76.73
5289,2026,Cestau Childs-Clark,Office of Equity,Administrative Coordinator,54267.20,2087.20,0.00,0.00,54267.20,5290,26.09
10103,2025,Robin Monique Hawkins,Office of Equity,Executive Administrator,104233.15,101637.13,0.00,0.00,104233.15,10104,50.11

department: Insurance & Risk Management

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
11618,2025,Clyde David Aldridge,Insurance & Risk Management,Fire Settlement,2080.00,42541.21,0.00,0.00,2080.00,11619,1.00
11663,2025,Michael Barnes,Insurance & Risk Management,Fire Settlement,2080.00,42541.21,0.00,0.00,2080.00,11664,1.00
11673,2025,Gigi Bullard,Insurance & Risk Management,Fire Settlement,2080.00,42541.21,0.00,0.00,2080.00,11674,1.00
11680,2025,Kenneth D. Carter,Insurance & Risk Management,Fire Settlement,2080.00,42541.21,0.00,0.00,2080.00,11681,1.00
11728,2025,Richard Albers,Insurance & Risk Management,Fire Settlement,2080.00,42541.21,0.00,0.00,2080.00,11729,1.00

department: Alcohol Beverage Control

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
12906,2023,Diane M Atzinger,Alcohol Beverage Control,Customer Service Supervisor,65166.40,62214.40,2099.16,0.00,67265.56,12907,31.33
13244,2023,Andre Ramone Bottoms,Alcohol Beverage Control,Licenses & Permit Investig II,48214.40,29733.60,4919.89,4184.75,57319.04,13245,23.18
13373,2023,Alejandro T Cabrera,Alcohol Beverage Control,Licenses & Permits Investig,48214.40,45803.06,3229.20,5838.11,57281.71,13374,23.18
13896,2023,Rodridges T Watkins,Alcohol Beverage Control,Licenses & Permits Invest Mgr,80787.20,78250.04,233.04,5788.65,86808.89,13897,38.84
13916,2023,Jeremy Allen Owens,Alcohol Beverage Control,Licenses & Permits Investig,43804.80,39010.32,4318.85,2051.26,50174.91,13917,21.06

department: Office of Resilience and Community Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
12924,2023,LaTonya M Jackson,Office of Resilience and Community Services,Social Service Prog Spec U315,42764.80,42193.60,0.00,0.00,42764.80,12925,20.56
13239,2023,Mark Hoover,Office of Resilience and Community Services,Homeless Encampment Response Supervisor,72654.40,53970.37,0.00,0.00,72654.40,13240,34.93
13267,2023,Stacey Renee Bryant,Office of Resilience and Community Services,Senior Social Worker U315,64064.00,64064.00,0.00,1570.00,65634.00,13268,30.80
13275,2022,LaTonya M Jackson,Office of Resilience and Community Services,Social Service Program Specialist U315,42140.80,41696.43,0.00,750.00,42890.80,13276,20.26
13324,2023,Jonathan Pilbean,Office of Resilience and Community Services,Assistant Director,106361.00,91790.05,0.00,0.00,106361.00,13325,51.14

department: ES & MetroSafe

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
13024,2023,Kelly R Jones,ES & MetroSafe,Assist Director EM MetroSafe,117774.90,114755.15,0.00,0.00,117774.90,13025,56.62
13247,2023,Chad L Haysley,ES & MetroSafe,Radio Technician I,68265.60,68614.40,1300.00,1700.00,71265.60,13248,32.82
13248,2023,Paul W Richardson,ES & MetroSafe,Radio Technician II,73881.60,44485.12,6036.55,0.00,79918.15,13249,35.52
13294,2022,Kelly R Jones,ES & MetroSafe,Assistant Director,112166.60,110876.32,0.00,2500.00,114666.60,13295,53.93
13339,2023,Robert A. Schmid,ES & MetroSafe,Computer Aided Dispatch Anlyst,60361.60,18892.80,3804.39,0.00,64165.99,13340,29.02

department: Office for Safe & Healthy Neighborhoods

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
13216,2023,Connie Anita Cherry,Office for Safe & Healthy Neighborhoods,OSHN Community Outreach Coordinator,58926.40,54401.64,1927.85,0.00,60854.25,13217,28.33
13319,2023,James D Britton,Office for Safe & Healthy Neighborhoods,OSHN Community Outreach Coordinator,63065.60,55516.03,1704.90,0.00,64770.50,13320,30.32
13329,2022,Steven M Kelsey,Office for Safe & Healthy Neighborhoods,Staff Helper Internal,69368.00,59481.36,797.04,0.00,70165.04,13330,33.35
13432,2022,Connie Anita Cherry,Office for Safe & Healthy Neighborhoods,OSHN Community Outreach Coordinator,50523.20,49198.69,2030.10,0.00,52553.30,13433,24.29
13485,2022,Niletta Rene Douglas,Office for Safe & Healthy Neighborhoods,Project Manager I,76502.40,64788.95,0.00,1500.00,78002.40,13486,36.78

department: Emergency Management Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
13245,2023,Douglas L Sweeney,Emergency Management Services,Special Events Manager,83470.40,81331.20,458.64,0.00,83929.04,13246,40.13
13344,2022,Douglas L Sweeney,Emergency Management Services,Special Events Manager,79497.60,78582.40,0.00,2500.00,81997.60,13345,38.22
13561,2022,Robert A. Schmid,Emergency Management Services,Executive Administrator,96447.00,67516.87,0.00,2500.00,98947.00,13562,46.37
14211,2023,Adam B. Fries,Emergency Management Services,Systems Analyst,72779.20,71066.28,5684.48,0.00,78463.68,14212,34.99
14297,2023,Michael P. Robinson,Emergency Management Services,EMS EMT-Paramedic I,74027.20,8277.34,6773.77,0.00,80800.97,14298,35.59

department: Develop Louisville

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
13276,2022,Hettie E Bailey,Develop Louisville,Executive Administrator,79430.00,78516.41,0.00,750.00,80180.00,13277,38.19
13291,2022,Shonda Barlow Garner,Develop Louisville,Executive Administrator,81697.20,80757.66,0.00,2500.00,84197.20,13292,39.28
13331,2022,Tyra Lynnita Vick,Develop Louisville,Administrative Specialist CU,44740.80,44838.84,0.00,175.00,44915.80,13332,21.51
13418,2022,Michael Alexander Miles,Develop Louisville,Housing Rehab Supervisor,56971.20,2535.20,0.00,0.00,56971.20,13419,27.39
13426,2022,Patricia A Clare,Develop Louisville,Board Member,5200.00,2400.00,0.00,0.00,5200.00,13427,2.50

department: Office of Performance Improvement

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
14969,2022,Betty Jean Adkins,Office of Performance Improvement,Community Health Admin,56971.20,8010.96,0.00,0.00,56971.20,14970,27.39
22461,2023,Chester L Hicks,Office of Performance Improvement,Project Manager I,82001.40,34692.90,0.00,0.00,82001.40,22462,39.42
24168,2022,Dondre Javan Jefferson,Office of Performance Improvement,Project Manager I,71604.00,70780.40,0.00,0.00,71604.00,24169,34.42
26058,2022,Peter Ashby Howard,Office of Performance Improvement,Intern,56971.20,7320.00,0.00,0.00,56971.20,26059,27.39
26306,2022,Chester L Hicks,Office of Performance Improvement,Project Manager I,82001.40,39108.36,0.00,0.00,82001.40,26307,39.42

department: PWA - Solid Waste Management Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
14991,2022,Michael L Brown,PWA - Solid Waste Management Services,Sanitation Tipper,41766.40,43009.50,1046.28,4400.00,47212.68,14992,20.08
26527,2022,Crystal Janai Edison,PWA - Solid Waste Management Services,Packer Laborer,36379.20,9578.82,551.35,0.00,36930.55,26528,17.49

department: Office of Philanthropy

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
15396,2023,Leanne Marie French,Office of Philanthropy,Director,121462.04,101290.70,0.00,0.00,121462.04,15397,58.40
17719,2023,Janice Elaine Cates,Office of Philanthropy,Executive Administrator,100840.30,92408.61,0.00,0.00,100840.30,17720,48.48
21736,2023,Annette Marie Dangerfield,Office of Philanthropy,Project Manager II,88359.18,86093.62,0.00,0.00,88359.18,21737,42.48
23154,2023,Mariana L Barzun,Office of Philanthropy,Director,146999.60,121692.42,0.00,0.00,146999.60,23155,70.67

department: Office of Performance Improvement (inactive)

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
16293,2022,Andrew John Bates,Office of Performance Improvement (inactive),Project Manager II,94359.20,93273.32,0.00,0.00,94359.20,16294,45.37
16966,2022,Dwjuan D McDonald,Office of Performance Improvement (inactive),Project Manager II,94359.20,93273.32,0.00,0.00,94359.20,16967,45.37
20137,2022,Joshua J Watkins,Office of Performance Improvement (inactive),Director,115668.80,115546.76,0.00,2500.00,118168.80,20138,55.61
20809,2022,Ethan Lambert,Office of Performance Improvement (inactive),Performance Improvement Manager,77116.00,76228.42,0.00,0.00,77116.00,20810,37.08
25041,2022,Annette Marie Dangerfield,Office of Performance Improvement (inactive),Project Manager II,84151.60,75473.85,0.00,0.00,84151.60,25042,40.46

department: Library

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34000,2021,Vactor Karen Van,Library,Library Clerk L/U,34216.00,34182.73,0.00,1450.00,35666.00,34001,16.45
34029,2021,Natalie Woods,Library,Library Manager-Neighborhood,52291.20,51514.50,0.00,0.00,52291.20,34030,25.14
34050,2021,Judith Thomas,Library,Library Clerk L/U,34216.00,34040.89,193.56,1450.00,35859.56,34051,16.45
34051,2021,Danwen Zeng,Library,Library Assistant L/U,39582.40,40292.76,2626.14,1450.00,43658.54,34052,19.03
34077,2021,Cynthia Shaw,Library,Library Assistant L/U,39582.40,40182.36,302.57,350.00,40234.97,34078,19.03

department: Inspections, Permits & License

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34001,2021,Louis Marsili,"Inspections, Permits & License",PR/B/M Inspector II,54537.60,54021.18,10465.84,0.00,65003.44,34002,26.22
34031,2021,Louis Burke,"Inspections, Permits & License",Electrical Inspector I,62025.60,60880.48,0.00,0.00,62025.60,34032,29.82
34036,2021,Benjamin Woods,"Inspections, Permits & License",Laborer-TM,36337.60,24674.20,2354.64,0.00,38692.24,34037,17.47
34175,2021,Andre Bottoms,"Inspections, Permits & License",Licenses & Permits Investig,40497.60,31167.04,2730.69,0.00,43228.29,34176,19.47
34196,2021,Aaron Cole,"Inspections, Permits & License",Board Member,5200.00,1300.00,0.00,0.00,5200.00,34197,2.50

department: Louisville Metro Police

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34002,2021,Derrick Leachman,Louisville Metro Police,Police Sergeant,83324.80,54274.77,2965.41,5395.20,91685.41,34003,40.06
34016,2021,Bridgette Threets,Louisville Metro Police,Traffic Guard III,28558.40,18342.82,1302.72,1000.00,30861.12,34017,13.73
34021,2021,Kevin Freeberg,Louisville Metro Police,Police Officer,59862.40,1285.75,58.57,0.00,59920.97,34022,28.78
34025,2021,Roger Marcum,Louisville Metro Police,Police Officer,60840.00,64533.71,20339.40,5245.68,86425.08,34026,29.25
34026,2021,John Keeling,Louisville Metro Police,Police Officer,59862.40,62906.40,34797.83,6247.20,100907.43,34027,28.78

department: Youth Detention Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34005,2021,Erika Davis,Youth Detention Services,Transportation Officer U310,53934.40,53385.28,2628.30,1425.97,57988.67,34006,25.93
35062,2021,Antoino Thomas,Youth Detention Services,Court Process Officer U310,40497.60,40083.64,162.16,0.00,40659.76,35063,19.47
35148,2021,Duane Berry,Youth Detention Services,Transportation Officer U310,55515.20,54935.13,842.73,1570.65,57928.58,35149,26.69
35280,2021,Mark Rudolph,Youth Detention Services,Transportation Officer U310,41246.40,22014.58,470.98,1653.23,43370.61,35281,19.83
35358,2021,Lamont Perry,Youth Detention Services,Court Process Supvsr,47236.80,46534.58,45.16,0.00,47281.96,35359,22.71

department: Solid Waste Management

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34009,2021,Waymon Elliott,Solid Waste Management,Equipment Operator-SWMS,44158.40,36951.11,707.50,0.00,44865.90,34010,21.23
34010,2021,Rico Love,Solid Waste Management,Fully Automatic Truck Driver,56097.60,55662.84,31444.19,1900.00,89441.79,34011,26.97
34015,2021,Caroline Fletcher-Thomas,Solid Waste Management,Administrative Specialist,36795.20,21378.95,980.26,0.00,37775.46,34016,17.69
34041,2021,Carlos Blakey,Solid Waste Management,Fully Automatic Truck Driver,56097.60,55527.99,24648.59,1900.00,82646.19,34042,26.97
34052,2021,Edward Bryant,Solid Waste Management,Waste Reduction Operator,55598.40,55066.41,19119.38,566.30,75284.08,34053,26.73

department: Finance

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34013,2021,Jane January,Finance,OMB Accounts Receivable Spec,41184.00,40566.88,386.32,0.00,41570.32,34014,19.80
34185,2021,Larry Lenahan,Finance,Budget Analyst I,36972.00,25963.56,189.81,0.00,37161.81,34186,17.77
34272,2021,Edna Redd,Finance,Payroll Analyst I,42203.20,38651.23,0.00,0.00,42203.20,34273,20.29
34281,2021,Alice Knabel,Finance,Payroll Analyst II,51147.20,29723.65,1411.36,0.00,52558.56,34282,24.59
34312,2021,Martin Storch,Finance,Special Assistant - PT,79586.00,78399.64,0.00,0.00,79586.00,34313,38.26

department: Public Works

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34023,2021,Lawrence Meadors,Public Works,Mechanic III-Heavy Equipment,55868.80,33505.71,373.29,2000.00,58242.09,34024,26.86
34070,2021,Richard Price,Public Works,Assistant Director,95617.60,93531.93,0.00,0.00,95617.60,34071,45.97
34082,2021,Barry Grant,Public Works,Laborer-TM,36337.60,35765.14,274.08,1900.00,38511.68,34083,17.47
34084,2021,Michael Andrews,Public Works,Laborer-TM,35630.40,548.16,0.00,0.00,35630.40,34085,17.13
34240,2021,Jerry Cantrell,Public Works,Right-of-Way Permit/Lic Supvsr,66040.00,65058.40,976.08,0.00,67016.08,34241,31.75

department: Mayor's Office

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34037,2021,Althea Jackson,Mayor's Office,Special Assistant,74279.40,73172.84,0.00,0.00,74279.40,34038,35.71
34202,2021,Eva Tapp,Mayor's Office,Special Assistant - PT,28204.80,33579.30,0.00,0.00,28204.80,34203,13.56
34263,2021,Jean Miller,Mayor's Office,Special Assistant - PT,20092.80,19473.83,0.00,0.00,20092.80,34264,9.66
37034,2021,Emalee Lundin,Mayor's Office,Special Assistant,26780.00,13806.63,103.00,0.00,26883.00,37035,12.88
37180,2021,Ellen Hesen,Mayor's Office,Chief of Staff-Mayor's Office,149897.80,147664.73,0.00,0.00,149897.80,37181,72.07

department: Safe & Healthy Neighborhoods

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34039,2021,Connie Cherry,Safe & Healthy Neighborhoods,OSHN Community Outreach Coord,45864.00,13230.00,0.00,0.00,45864.00,34040,22.05
34215,2021,Steven Kelsey,Safe & Healthy Neighborhoods,Staff Helper/Internal,62982.40,8916.98,0.00,0.00,62982.40,34216,30.28
34470,2021,Tracy Brown-Hobbs,Safe & Healthy Neighborhoods,Administrative Coordinator,40019.20,9898.98,86.58,0.00,40105.78,34471,19.24
34511,2021,James Britton,Safe & Healthy Neighborhoods,OSHN Community Outreach Coord,45864.00,42424.98,10.12,0.00,45874.12,34512,22.05
34588,2021,Lavonta Churchill,Safe & Healthy Neighborhoods,OSHN Community Outreach Coord,47236.80,43844.60,26.30,0.00,47263.10,34589,22.71

department: Kentuckiana Works Foundation

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34043,2021,Barbara Ferrell,Kentuckiana Works Foundation,Business Accountant II,52291.20,51502.82,0.00,0.00,52291.20,34044,25.14
34292,2021,Regina Phillips,Kentuckiana Works Foundation,Senior Program Manager,70387.20,56530.22,109.24,0.00,136906.72,34293,33.84
34439,2021,Michael Gritton,Kentuckiana Works Foundation,Director,120333.20,118540.36,0.00,0.00,120333.20,34440,57.85
34441,2021,Latricia Swope,Kentuckiana Works Foundation,Admin Assistant,54537.60,50294.29,4062.79,0.00,58600.39,34442,26.22
34614,2021,Bryan Griffin,Kentuckiana Works Foundation,Systems Engineer II,58718.40,57845.92,2484.44,0.00,61202.84,34615,28.23

department: Coroner

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34046,2021,Lawrence Zehnder,Coroner,Deputy Coroner,50232.00,49487.20,0.00,7800.00,58032.00,34047,24.15
34169,2021,Michael Haag,Coroner,Deputy Coroner,50232.00,49487.20,0.00,7800.00,58032.00,34170,24.15
34187,2021,Donald Russ,Coroner,Chief Deputy Coroner,60444.80,59379.60,0.00,7800.00,68244.80,34188,29.06
34234,2021,Charles Edelen,Coroner,Deputy Coroner,51854.40,51237.68,0.00,7800.00,59654.40,34235,24.93
34261,2021,Kathy Hamilton,Coroner,Deputy Coroner,50232.00,49487.20,0.00,7800.00,58032.00,34262,24.15

department: Parking Authority of River Cty

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34048,2021,Gloria Henderson,Parking Authority of River Cty,Parking Team Leader,49940.80,49225.94,8775.23,0.00,58716.03,34049,24.01
34371,2021,Margaret Baas,Parking Authority of River Cty,Parking Facilities Coord,56867.20,56014.80,0.00,0.00,56867.20,34372,27.34
34471,2021,Daniel Filburn,Parking Authority of River Cty,Parking Team Leader,49940.80,49417.19,529.65,1900.00,52370.45,34472,24.01
34486,2021,Ronnie Levett,Parking Authority of River Cty,Parking Meter Attendant,45240.00,44782.50,0.00,1900.00,47140.00,34487,21.75
34533,2021,Kuyeann Hogue,Parking Authority of River Cty,Business Specialist,36420.80,35878.16,158.58,0.00,36579.38,34534,17.51

department: Human Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34058,2021,LaTonya Jackson,Human Services,Social Service Prog Spec U315,40497.60,34246.08,0.00,0.00,40497.60,34059,19.47
34421,2021,Alvin Humphries,Human Services,Systems Engineer II,66913.60,62985.20,0.00,0.00,66913.60,34422,32.17
34469,2021,Sherri Brooks,Human Services,Senior Social Worker U315,55889.60,55325.70,0.00,1298.55,57188.15,34470,26.87
34472,2021,Karen McGhee,Human Services,Executive Assistant,52374.40,51597.41,42.66,0.00,52417.06,34473,25.18
34475,2021,Tina Ward-Pugh,Human Services,Social Services Supvsr,54059.20,36084.21,0.00,0.00,54059.20,34476,25.99

department: Metro Corrections

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34103,2021,Avery Dorsey,Metro Corrections,Corrections Officer,37252.80,37609.14,24394.95,0.00,61647.75,34104,17.91
34478,2021,Rachelle Shipley,Metro Corrections,Corrections Officer,54080.00,52192.95,1767.75,0.00,55847.75,34479,26.00
34523,2021,Monica Ealy,Metro Corrections,Senior Social Worker U310,57865.60,2401.68,0.00,1430.97,59296.57,34524,27.82
34549,2021,Marylea Nicolas-Bates,Metro Corrections,Corrections Supvsr I,47694.40,48326.03,28155.25,600.00,76449.65,34550,22.93
34716,2021,Tasha Rudolph,Metro Corrections,Corrections Officer,36732.80,37348.11,25335.41,0.00,62068.21,34717,17.66

department: County Attorney

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34167,2021,Paul Guagliardo,County Attorney,Senior Attorney,98425.60,73865.12,0.00,0.00,98425.60,34168,47.32
34377,2021,Maryanne Watkins,County Attorney,Senior Attorney,60762.00,59852.28,0.00,0.00,60762.00,34378,29.21
34464,2021,Gregory Gowen,County Attorney,Assistant County Attorney,95097.60,89078.51,0.00,0.00,95097.60,34465,45.72
34550,2021,Paul Rutherford,County Attorney,Attorney II,77355.20,76195.44,0.00,0.00,77355.20,34551,37.19
34631,2021,Erica Carter,County Attorney,Legal Secretary I,36961.60,33918.56,0.00,0.00,36961.60,34632,17.77

department: Louisville Metro EMS

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34181,2021,Douglas Sweeney,Louisville Metro EMS,Special Events Manager,72155.20,74473.82,0.00,0.00,72155.20,34182,34.69
34204,2021,Charles Simpson,Louisville Metro EMS,Storekeeper II - E/U,51209.60,787.84,0.00,0.00,51209.60,34205,24.62
34575,2021,Robert Schmid,Louisville Metro EMS,Executive Administrator,87552.40,86247.67,0.00,0.00,87552.40,34576,42.09
34847,2021,Adam Fries,Louisville Metro EMS,Systems Analyst,62920.00,61983.69,2213.73,0.00,65133.73,34848,30.25
34875,2021,Michael Robinson,Louisville Metro EMS,EMS EMT-Paramedic I,71344.00,70950.99,60477.04,350.00,132171.04,34876,34.30

department: Emergency Mgt Agency/MetroSafe

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34198,2021,Chad Haysley,Emergency Mgt Agency/MetroSafe,Radio Technician I,60756.80,62576.60,0.00,1834.72,62591.52,34199,29.21
34216,2021,Paul Richardson,Emergency Mgt Agency/MetroSafe,Radio Technician II,66788.80,68796.64,5053.27,1413.76,73255.83,34217,32.11
34227,2021,Viola Brown,Emergency Mgt Agency/MetroSafe,Communication Specialist II,55203.20,51916.80,105490.22,1999.92,162693.34,34228,26.54
34231,2021,Kelly Jones,Emergency Mgt Agency/MetroSafe,Assistant Director,101821.20,100303.67,0.00,0.00,101821.20,34232,48.95
34352,2021,Therese Brandon,Emergency Mgt Agency/MetroSafe,Communication Specialist I U27,48609.60,560.88,0.00,76.92,48686.52,34353,23.37

department: Waterfront Development Corp

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34212,2021,David Karem,Waterfront Development Corp,Assistant Director - NoEEORpt,52499.20,64010.35,0.00,0.00,52499.20,34213,25.24
34521,2021,Gregory January,Waterfront Development Corp,Waterfront Park Supervisor,50856.00,8802.01,0.00,0.00,50856.00,34522,24.45
34560,2021,Ashley Smith,Waterfront Development Corp,Director,84518.20,83258.69,0.00,0.00,84518.20,34561,40.63
34568,2021,Gary Pepper,Waterfront Development Corp,Director,93680.60,92285.43,0.00,0.00,93680.60,34569,45.04
34759,2021,Paul Carey,Waterfront Development Corp,Plumber,74193.60,73086.60,263.89,0.00,74457.49,34760,35.67

department: Air Pollution Control

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34237,2021,Robert Butler,Air Pollution Control,Environmental Coordinator,50107.20,49362.44,0.00,0.00,50107.20,34238,24.09
35282,2021,Christina Oakes,Air Pollution Control,APCD Compliance Officer U310,54745.60,54192.32,0.00,1583.23,56328.83,35283,26.32
35329,2021,Deanne Lynch,Air Pollution Control,Community Outreach Coord,52582.40,51795.04,0.00,0.00,52582.40,35330,25.28
35354,2021,Regina Freeman,Air Pollution Control,APCD Compliance Officer U310,63648.00,63009.60,510.30,1938.55,66096.85,35355,30.60
35383,2021,Michael Brown,Air Pollution Control,APCD Engineer II,76731.20,75592.74,0.00,0.00,193874.36,35384,36.89

department: Technology Services

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34260,2021,Brian Clenney,Technology Services,Info Security Analyst,85737.60,84459.24,0.00,0.00,85737.60,34261,41.22
34389,2021,Kenneth Hillebrand,Technology Services,Assistant Director,113339.20,110189.00,0.00,0.00,113339.20,34390,54.49
34564,2021,Broderick Wilson,Technology Services,PC Support Analyst II,47548.80,45306.05,24.87,0.00,47573.67,34565,22.86
34932,2021,Christian Seidt,Technology Services,Director of Info Technology,128216.40,126306.52,0.00,0.00,128216.40,34933,61.64
34949,2021,Edmund Weatherby,Technology Services,PC Support Analyst III,63356.80,62718.41,3872.43,1154.84,68384.07,34950,30.46

department: Internal Auditor

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
34957,2021,Tiffany Smith,Internal Auditor,Internal Auditor,52520.00,51732.68,0.00,0.00,52520.00,34958,25.25
36668,2021,Mayria Porter,Internal Auditor,Director,111490.60,109829.43,0.00,0.00,111490.60,36669,53.60
37211,2021,Robert Booth,Internal Auditor,Internal Audit Senior,63876.80,62929.86,0.00,0.00,63876.80,37212,30.71
37227,2021,Laketa Short,Internal Auditor,Internal Auditor,52520.00,51732.69,0.00,0.00,52520.00,37228,25.25
37830,2021,David Googe,Internal Auditor,Internal Audit Senior,62628.80,61692.48,0.00,0.00,62628.80,37831,30.11

department: Office of Performance Improvmt

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
35123,2021,Betty Adkins,Office of Performance Improvmt,Community Health Admin,75254.40,74137.23,0.00,0.00,75254.40,35124,36.18
35307,2021,Andrew Bates,Office of Performance Improvmt,Project Manager II,85654.40,80512.35,0.00,0.00,85654.40,35308,41.18
36148,2021,Dwjuan McDonald,Office of Performance Improvmt,Project Manager II,85654.40,72479.65,0.00,0.00,85654.40,36149,41.18
37204,2021,Ursula Mullins,Office of Performance Improvmt,Director,115710.40,109091.28,0.00,0.00,115710.40,37205,55.63
38026,2021,Ethan Lambert,Office of Performance Improvmt,Performance Improvement Mgr,70002.40,52403.92,0.00,0.00,70002.40,38027,33.65

department: Other Officials

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
35395,2021,David Nicholson,Other Officials,Ex Officio Librarian-Law Libr,1300.00,42541.21,0.00,0.00,1300.00,35396,0.62
35419,2021,Sherryl Borders,Other Officials,Director,78894.40,33378.40,0.00,0.00,78894.40,35420,37.93
35555,2021,Micheal Thompson,Other Officials,Constable,2600.00,9600.00,0.00,0.00,2600.00,35556,1.25
35710,2021,Amy Hilliard,Other Officials,Director,72072.00,63296.78,0.00,0.00,72072.00,35711,34.65
37932,2021,Dreema Jackson,Other Officials,Board Member,5200.00,1300.00,0.00,0.00,5200.00,37933,2.50

# **2.24 Number of Employees per Department**
The dataset was aggregated using the Department column to calculate the total number of employees in each department. The value_counts() function was applied and the results were converted into a DataFrame with clear column names. This provides a concise overview of employee distribution across departments and supports quick comparison of workforce size.

In [35]:
#Aggragation
dept_counts = df['Department'].value_counts().reset_index()
dept_counts.columns = ['Department', 'Employee_Count']
dept_counts

                                      Department  Employee_Count
0             Louisville Metro Police Department            7655
1                                Louisville Fire            3037
2                             Parks & Recreation            2973
3                          Public Works & Assets            2705
4                      Department of Corrections            2565
..                                           ...             ...
75  Office of Performance Improvement (inactive)               8
76                              Internal Auditor               7
77             Office of Performance Improvement               5
78                        Office of Philanthropy               4
79         PWA - Solid Waste Management Services               2

[80 rows x 2 columns]

# **2.25 Unique Job Title Count – Louisville Metro Police Department**
The analysis also indicates that the Louisville Metro Police Department has a high number of employees compared to other departments, which contributes to a wider range of job roles. This highlights the department’s large workforce size and operational complexity.

In [36]:
LPD_jobTitle_count = (
    df[df['Department'] == 'Louisville Metro Police Department']['Job_Title']
    .nunique()
)

print("Number of job titles in Louisville Metro Police Department:", LPD_jobTitle_count)

Number of job titles in Louisville Metro Police Department: 111

# **2.26 Louisville Metro Police Department – Data Preview**
To closely examine employee records within the Louisville Metro Police Department, the dataset was filtered to include only rows where the Department is “Louisville Metro Police Department”. The first ten records from this filtered dataset were then displayed using the head(10) function.

In [37]:
Dep_df = df[df['Department'] == 'Louisville Metro Police Department'].reset_index(drop=True)
Dep_df.head(10)

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate,Regular_Rate,Overtime_Rate,Incentive_Allowance,YTD_Total,ObjectId,Hourly_Rate
0,2026,Darrell Sheridan Ammon,Louisville Metro Police Department,Criminal Justice Specialist,70844.80,2724.80,0.00,0.00,70844.80,3,34.06
1,2026,Theresa Y May,Louisville Metro Police Department,Word Processing Clerk Police,39499.20,1519.20,0.00,60.12,39559.32,8,18.99
2,2026,James Lee Vertrees,Louisville Metro Police Department,Traffic Guard I,17721.60,681.60,0.00,0.00,17721.60,11,8.52
3,2026,Patricia Marvies Thurston,Louisville Metro Police Department,Traffic Guard II,27409.20,1054.20,0.00,0.00,27409.20,12,13.18
4,2026,Matthew Gerard Butler,Louisville Metro Police Department,Police Officer,95555.20,3675.20,0.00,175.20,95730.40,17,45.94
5,2026,Shelia Gayle Brown,Louisville Metro Police Department,Traffic Guard I,17721.60,579.36,0.00,0.00,17721.60,24,8.52
6,2026,Dedra D Daugherty,Louisville Metro Police Department,Traffic Guard III,38750.40,447.12,0.00,0.00,38750.40,28,18.63
7,2026,Jonathon A Bryant,Louisville Metro Police Department,Police Officer,95555.20,3675.20,0.00,175.20,95730.40,32,45.94
8,2026,Clarence Beauford,Louisville Metro Police Department,Police Officer,95555.20,4022.00,368.62,190.01,96113.83,37,45.94
9,2026,Charles Henry Edelen,Louisville Metro Police Department,Police Officer,95555.20,3675.20,0.00,175.20,95730.40,40,45.94

# **2.27 Highest-Paid Unique Employees in the Louisville Metro Police Department**

This analysis filters employees from the Louisville Metro Police Department and ranks them based on their annual salary in descending order. Duplicate employee records are removed to ensure each individual appears only once in the results. The top 10 highest-paid unique employees are then selected to provide a clear view of the department’s highest earners.

In [38]:
police_df = df[df['Department'] == 'Louisville Metro Police Department']

top10_unique = (
    police_df
    .sort_values(by='Annual_Rate', ascending=False)
    .drop_duplicates(subset=['Employee_Name'])   # unique employees only
    .head(10)
    .reset_index(drop=True)
)

print(top10_unique[['Employee_Name', 'Job_Title', 'Annual_Rate']])

               Employee_Name                       Job_Title  Annual_Rate
0        Paul Louis Humphrey                    Police Chief    257696.58
1  Villaroel Jacquelyn Gwinn                    Police Chief    245425.31
2              Erika Shields                    Police Chief    238277.00
3         Emily Ann McKinley             Deputy Police Chief    195171.74
4               Ryan C Bates             Deputy Police Chief    195171.74
5       Corey Jaron Robinson  Asst Police Chief - Lt Colonel    183201.53
6            Brian D Kuriger  Asst Police Chief - Lt Colonel    183201.53
7     Nicholas Leonidas Owen  Asst Police Chief - Lt Colonel    183201.53
8          Donald F Burbrink  Asst Police Chief - Lt Colonel    183201.53
9           Steven W. Healey             Deputy Police Chief    177026.51

# **2.28 Lowest-Paid Unique Employees in the Police Department**

This analysis focuses on employees from the Louisville Metro Police Department and identifies the lowest-paid individuals based on their annual salary. The data is sorted in ascending order of annual rate, and duplicate employee records are removed to ensure each employee appears only once. The bottom 10 unique employees are then selected to highlight lower-end salary levels within the department.

In [39]:
police_df = df[df['Department'] == 'Louisville Metro Police Department']

lowest10_unique = (
    police_df
    .sort_values(by='Annual_Rate', ascending=True)   # lowest first
    .drop_duplicates(subset=['Employee_Name'])       # unique employees only
    .head(10)
    .reset_index(drop=True)
)

print(lowest10_unique[['Employee_Name', 'Job_Title', 'Annual_Rate']])

           Employee_Name        Job_Title  Annual_Rate
0    Patti R. Wooldridge  Traffic Guard I     15912.00
1         Richard Bagley  Traffic Guard I     15912.00
2     Evonne Mae Johnson  Traffic Guard I     15912.00
3  Kern Irvin Richardson  Traffic Guard I     15912.00
4          June Ann Hays  Traffic Guard I     15912.00
5    Lynn Esther Berkley  Traffic Guard I     15912.00
6    Mary Teresa Seadler  Traffic Guard I     15912.00
7  Charles Allen Minnett  Traffic Guard I     15912.00
8      Herron W Crawford  Traffic Guard I     15912.00
9   Gwendolyn Marie Amos  Traffic Guard I     15912.00

# **2.29 Highest Paid Employees – Solid Waste Management Services**
To analyze salary distribution within PWA – Solid Waste Management Services, the dataset was filtered to include only records from this department. The filtered data was then sorted in descending order based on the Annual_Rate column to identify the highest paid employees.

In [40]:
# Filter for Solid Waste Management Services
solid_df = df[df['Department'] == 'PWA - Solid Waste Management Services'].copy()

# Sort by Annual Salary (highest first)
sorted_solid = solid_df.sort_values(
    by='Annual_Rate', ascending=False
).reset_index(drop=True)

# Display Top 20 (Left side index will be clean: 0,1,2...)
sorted_solid[['CalYear','Employee_Name', 'Job_Title', 'Annual_Rate']]

   CalYear         Employee_Name          Job_Title  Annual_Rate
0     2022       Michael L Brown  Sanitation Tipper     41766.40
1     2022  Crystal Janai Edison     Packer Laborer     36379.20

# **2.30 Employees with Annual Rate Below 100,000**
To identify employees earning below a specified salary threshold, the dataset was filtered to include records where the Annual_Rate is less than 100,000. Relevant columns such as CalYear, Employee_Name, Department, Job_Title, and Annual_Rate were selected to focus on key employee and compensation details.

This filtering helps in analyzing lower salary ranges across departments and supports comparative evaluation of compensation structures, workforce segmentation, and pay distribution analysis.

In [41]:
print("Employees with Annual_Rate less than 1,00,000:")
less_Dep1 = df.loc[
    df['Annual_Rate'] < 100000,
    [ 'CalYear','Employee_Name','Department', 'Job_Title', 'Annual_Rate'] # Filter employees with Annual_Rate < 100000
]
less_Dep1

Employees with Annual_Rate less than 1,00,000:

,CalYear,Employee_Name,Department,Job_Title,Annual_Rate
0,2026,William E Summers,OMB Finance,Board Member,56971.20
1,2026,David Martin,Louisville Free Public Library,Library Page LU,30763.20
2,2026,Darrell Sheridan Ammon,Louisville Metro Police Department,Criminal Justice Specialist,70844.80
3,2026,David B. Waggoner,Louisville Fire,Fire Prevention Inspector I,75944.96
4,2026,Larry J Lenahan,OMB Finance,Budget Analyst I,46248.80
...,...,...,...,...,...
40824,2021,Darrin Johnson,Technology Services,PC Support Analyst II,44803.20
40825,2021,Tristan Biagi,Technology Services,PC Support Analyst II,44803.20
40826,2021,Ethan Lett,Develop Louisville,Planning Technician U315,34049.60
40827,2021,LaFon Brown,Solid Waste Management,Sanitation Tipper-CDL,41891.20
40828,2021,Timothy King,Public Works,Equipment Operator-TM,39041.60

# **2.31 Employees with Annual Rate Between 100,000 and 200,000**
To analyze mid-range compensation, the dataset was filtered to include employees with Annual_Rate between 100,000 and 200,000. Relevant columns such as CalYear, Department, Job_Title, and Annual_Rate were selected to highlight workforce segmentation and pay distribution within this salary band.

In [42]:
print("Employees with Annual_Rate between 100000 and 200000:")

B_annualDep2 = df.loc[
    (df['Annual_Rate'] >= 100000) & (df['Annual_Rate'] <= 200000),
    ['CalYear','Department', 'Job_Title', 'Annual_Rate']
]

# Show the filtered employees
B_annualDep2

Employees with Annual_Rate between 100000 and 200000:

,CalYear,Department,Job_Title,Annual_Rate
5,2026,Louisville Zoo,ASST. Director,113882.82
22,2026,OMB Finance,Executive Director,105206.40
26,2026,Office of Housing & Community Development,Executive Administrator,103661.49
34,2026,Office of Housing & Community Development,ASST. Director,110709.45
37,2026,Emergency Management Agency MetroSafe,Assist Director EM MetroSafe,127373.56
...,...,...,...,...
39906,2021,Louisville Metro Police,Deputy Police Chief,137584.20
40304,2021,Technology Services,Senior Security Advisor,108160.00
40485,2021,Technology Services,Chief Info Security Officer,110000.80
40765,2021,Louisville Zoo,Director,175000.80
40801,2021,Office of Inspector General,Inspector General,150001.80

# **2.32 Employees with Annual Rate Between 200,000 and 300,000**
To evaluate upper‑mid salary ranges, the dataset was filtered to include employees with Annual_Rate between 200,000 and 300,000. Key columns such as CalYear, Department, Job_Title, and Annual_Rate were selected to highlight compensation structures and workforce distribution within this band.

In [43]:
print("Employees with Annual_Rate between 200000 and 300000:")

B_annualDep3 = df.loc[
    (df['Annual_Rate'] >= 200000) & (df['Annual_Rate'] <= 300000),
    ['CalYear','Department', 'Job_Title', 'Annual_Rate']
]

# Show the filtered employees
B_annualDep3

Employees with Annual_Rate between 200000 and 300000:

       CalYear                          Department     Job_Title  Annual_Rate
856       2026  Louisville Metro Police Department  Police Chief    257696.58
3928      2026                      Louisville Zoo      Director    218918.93
6829      2025  Louisville Metro Police Department  Police Chief    257696.58
9980      2025                      Louisville Zoo      Director    218918.93
21710     2023  Louisville Metro Police Department  Police Chief    238277.00
21723     2023  Louisville Metro Police Department  Police Chief    238277.00
22231     2023                      Louisville Zoo      Director    202421.56
25091     2022  Louisville Metro Police Department  Police Chief    238277.00
27063     2022                  Develop Louisville  Board Member    208000.00
28280     2024  Louisville Metro Police Department  Police Chief    245425.31
31128     2024  Louisville Metro Police Department  Police Chief    245425.31
31240     2024                      Louisville Zoo      Director    208494.21
34042     2021             Louisville Metro Police  Police Chief    216000.20
39745     2021             Louisville Metro Police  Police Chief    216301.80

# **2.33 Employees with Annual Rate Between 300,000 and 400,000**
To examine high‑tier compensation levels, the dataset was filtered to include employees with Annual_Rate between 300,000 and 400,000. Key columns such as CalYear, Department, Job_Title, and Annual_Rate were selected to provide insights into workforce distribution and pay structures within this upper salary band.

In [44]:
print("Employees with Annual_Rate between 300000 and 400000:")

B_annualDep4 = df.loc[
    (df['Annual_Rate'] >= 300000) & (df['Annual_Rate'] <= 400000),
    ['CalYear','Department', 'Job_Title', 'Annual_Rate']
]

# Show the filtered employees
B_annualDep4

Employees with Annual_Rate between 300000 and 400000:

       CalYear            Department           Job_Title  Annual_Rate
5242      2026  Economic Development  LEDA Administrator    350000.00
12158     2025  Economic Development  LEDA Administrator    350000.00

# **2.34 Employees with Annual Rate Between 400,000 and 500,000**
To highlight very high compensation levels, the dataset was filtered to include employees with Annual_Rate between 400,000 and 500,000. Key columns such as CalYear, Department, Job_Title, and Annual_Rate were selected to provide insights into workforce distribution and pay structures within this top salary band.

In [45]:
print("Employees with Annual_Rate between 400000 and 500000:")

B_annualDep5 = df.loc[
    (df['Annual_Rate'] >= 400000) & (df['Annual_Rate'] <= 500000),
    ['CalYear','Department', 'Job_Title', 'Annual_Rate']
]

# Show the filtered employees
B_annualDep5

Employees with Annual_Rate between 400000 and 500000:

Empty DataFrame
Columns: [CalYear, Department, Job_Title, Annual_Rate]
Index: []

# **2.35 Employees with Annual Rate Greater than 500,000 To analyze the highest**
compensation tier, the dataset was filtered to include employees with Annual_Rate greater than 500,000. Key columns such as CalYear, Department, Job_Title, and Annual_Rate were selected to highlight workforce distribution and pay structures within this elite salary band.

In [46]:
print("Employees with Annual_Rate greater than 500000:")

B_annualDep6 = df.loc[
    (df['Annual_Rate'] >=  500000),
    ['CalYear','Department', 'Job_Title', 'Annual_Rate']
]

# Show the filtered employees
B_annualDep6

Employees with Annual_Rate greater than 500000:

       CalYear                Department     Job_Title  Annual_Rate
21655     2023  Public Health & Wellness  Board Member    520000.00
22897     2023  Public Health & Wellness  Board Member    520000.00
22904     2023  Public Health & Wellness  Board Member    520000.00
22911     2023  Public Health & Wellness  Board Member    520000.00
22918     2023  Public Health & Wellness  Board Member    520000.00

# **2.36 Top 10 Departments by Average Hourly_ Rate**
This analysis identifies the top 10 departments with the highest average hourly pay. The hourly rate is calculated by converting annual salaries into hourly wages using a standard 40-hour workweek and 52 weeks per year. Departments are grouped and the mean hourly rate is computed for each, after which the results are sorted in descending order. This helps highlight departments offering higher compensation on an hourly basis and supports comparative pay analysis across departments.

In [47]:
# Hourly rate from annual salary
df = df.copy()
df.loc[:, 'Hourly_Rate'] = df['Annual_Rate'] / (52 * 40)
# Average Hourly Rate by Department
dept_hourly_rate = (
    df.groupby('Department')['Hourly_Rate']
    .mean()
    .reset_index()
)

top_10_high_hourly = (
    dept_hourly_rate
    .sort_values(by='Hourly_Rate', ascending=False)
    .head(10)
    .reset_index(drop=True)
)

top_10_high_hourly

                                     Department  Hourly_Rate
0               Office of Strategic Initiatives        60.86
1                        Office of Philanthropy        55.01
2                              Office of Equity        51.55
3                                  Mayor Office        50.44
4                     Metro Technology Services        43.32
5                      Office of Internal Audit        42.73
6                          Economic Development        42.62
7  Office of Performance Improvement (inactive)        41.76
8                      Office of Sustainability        39.79
9                                Mayor's Office        39.45

# **2.37 Maximum Annual Rate by Department**
The dataset was grouped by Department to identify the highest Annual_Rate recorded within each department. This highlights the top earners across different units and supports comparative evaluation of compensation ceilings.

In [48]:
print("Average Annual_Rate by Department:")
dept_max = df.groupby('Department')['Annual_Rate'].max().reset_index ()# Group by Department and calculate the mean Annual_Rate
dept_max

Average Annual_Rate by Department:

                            Department  Annual_Rate
0                                 APCD    133135.79
1                Air Pollution Control    106033.20
2             Alcohol Beverage Control    122762.50
3           Alcoholic Beverage Control    132767.65
4                  Belle of Louisville    108276.90
..                                 ...          ...
75                 Technology Services    133697.20
76         Waterfront Development Corp    144201.20
77  Waterfront Development Corporation    160279.35
78            Youth Detention Services    108152.20
79         Youth Transitional Services    125280.17

[80 rows x 2 columns]

# **2.38 Department-wise Salary Trend Analysis (Increasing Departments)**
The salary variation was computed as the difference between the ending and starting average salaries. Departments exhibiting a positive variation were classified as having increasing salary trends. These departments were then ranked to identify the top 20 departments with the highest salary growth, providing insight into areas experiencing compensation expansion, role upskilling, or increased workforce investment.

In [49]:
dept_yearwise = (
    df.groupby(['CalYear', 'Department'])['Annual_Rate']
    .mean()
    .reset_index()
)
salary_change = (
    dept_yearwise
    .groupby('Department')
    .agg(
        start_salary=('Annual_Rate', 'first'),
        end_salary=('Annual_Rate', 'last')
    )
    .reset_index()
)
salary_change['variation'] = (
    salary_change['end_salary'] - salary_change['start_salary']
)

In [50]:
increasing_depts = salary_change[salary_change['variation'] > 0]
top20_increasing = (
    increasing_depts
    .sort_values('variation', ascending=False)
    .head(20)
)
final_table = (
    top20_increasing
    .round(2)
    .reset_index(drop=True)
)

final_table

                           Department  start_salary  end_salary  variation
0         Office of Inspector General      18977.98    77014.87   58036.89
1         Other Statutory Obligations       9716.42    48712.36   38995.94
2                Economic Development      75714.26   112832.20   37117.93
3                        Mayor Office      85078.41   121366.02   36287.60
4         Criminal Justice Commission      59304.27    93064.06   33759.80
5          Human Relations Commission      41850.12    71930.12   30080.00
6                     Human Resources      51181.49    72656.64   21475.14
7                    Office of Equity      91354.90   112446.60   21091.70
8               Commonwealth Attorney      57328.76    78181.11   20852.35
9                      Louisville Zoo      32707.75    53521.20   20813.45
10                    Louisville Fire      62985.74    80865.82   17880.08
11           Public Health & Wellness      45515.11    61551.95   16036.85
12          Jefferson County Attorney      68211.83    83766.00   15554.17
13          Metro Technology Services      80666.80    95858.90   15192.10
14  Office of Performance Improvement      66886.95    82001.40   15114.45
15                 Revenue Commission      60949.54    75793.17   14843.63
16         Alcoholic Beverage Control      58521.44    72724.13   14202.69
17                 Parks & Recreation      36087.30    50230.47   14143.17
18                 Office of Planning      48826.92    62856.85   14029.93
19                 Develop Louisville      44800.13    57907.20   13107.07

# **2.39 Department-wise Salary Trend Analysis (Declining Departments)**
The salary variation was calculated as the difference between the ending and starting average salaries. Departments with a negative variation were classified as experiencing a decline in average salary levels. The results were then sorted to identify the top 10 departments with the largest salary decreases, highlighting areas potentially affected by workforce restructuring, role reclassification, or policy-driven compensation adjustments.

In [51]:
declining_depts = salary_change[salary_change['variation'] < 0]
first10_declining = (
    declining_depts
    .sort_values('variation')   # most negative first
    .head(10)
)
final_output = first10_declining.reset_index(drop=True)
final_output

                      Department  start_salary  end_salary  variation
0    Group Violence Intervention      86951.67    76752.00  -10199.67
1  Emergency Management Services      52732.34    51943.18    -789.16

# **2.40 Total  Salary By Year**
The dataset was grouped by CalYear to calculate the YTD_Total across all employees for each year. This highlights overall salary expenditure trends over time and supports comparative evaluation of compensation growth and workforce cost distribution.

In [52]:
print("Total Salary by Year:")

year_salary = df.groupby('CalYear')['YTD_Total'].sum().reset_index()

# Convert to Millions for readability
year_salary['YTD_Total_Million'] = (year_salary['YTD_Total'] / 1_000_000).round(2)

print(year_salary[['CalYear', 'YTD_Total_Million']])

Total Salary by Year:
   CalYear  YTD_Total_Million
0     2021             400.86
1     2022             448.56
2     2023             479.84
3     2024             523.16
4     2025             541.87
5     2026             405.56